---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - Leap Motion"
page_title: "Example: Leap Motion"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-leapmotion/tree/master/examples/leap' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
-content_for :js_accordeon do
  :javascript
    $("#example-panel").addClass("active-panel");
    $(".accordion-docs dt:nth-child(13) a:nth-child(2) img").addClass("rotate");

.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'leapmotion', adaptor: 'leapmotion', port: '127.0.0.1:6437' },
          device: { name: 'leapmotion', driver: 'leapmotion' },

          work: function(my) {
            my.leapmotion.on('connect', function() {
              console.log("Connected to Leap Motion.");
            });

            my.leapmotion.on('start', function() {
              console.log("Leap Motion has started.");
            });

            my.leapmotion.on('frame', function(frame) {
              console.log(frame.toString());
            });

            my.leapmotion.on('hand', function(hand) {
              console.log(hand.toString());
            });

            my.leapmotion.on('pointable', function(pointable) {
              console.log(pointable.toString());
            });

            my.leapmotion.on('gesture', function(gesture) {
              console.log(gesture.toString());
            });
          }
        }).start();

