---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - References"
page_title: "Example: References"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-leapmotion/tree/master/examples/references' target='_blank'>View In Repo</a>"
active_menu_docs: true
breadcrumbs: "<li><a href='#'>References</a></li>"
---
-content_for :bredcrumbs do
  = partial "/documentation/examples/breadcrumbs"

.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'leapmotion', adaptor: 'leapmotion', port: '127.0.0.1:6437' },
          device: { name: 'leapmotion', driver: 'leapmotion' },

          work: function(my) {
            my.leapmotion.on('frame', function(frame) {
              frame.addObjectRelations();

              if (frame.anyHands()) {
                console.log("I currently see " + frame.hands.length + " hand(s).");

                for (var i = 0; i < frame.hands.length; i++) {
                  var hand = frame.hands[i];
                  var fingers = hand.pointables.length;
                  console.log("  - Hand #" + hand.id + ": " + fingers + " fingers currently visible");
                }
              }
            });
          }
        }).start();

