:markdown
  # Events

  ## attention(data)

  Event with the user's current attention level.

  ## blink(data)

  Event with the user's current blink level.

  ## meditation(data)

  Event with the user's current meditation level.

  ## signal(data)

  Event showing signal strength.

  ## wave(data)

  Event showing wave data.

  ## start

  Gets triggered when the Mindwave is started and ready to be used.
