:markdown
  # Commands

  ## message(data)

  Sends a message thru the Skynet network.

  ##### Params

  - **data** - Hash or JSON string with the message data to be sent.

  ##### Returns 

  `null
