:markdown
  # Events

  ## message(data)

  Gets triggered when Skynet sends a message notification.

  ##### Params

  - **data** - the hash with the message data.

  ## connect

  Gets triggered when the connection to Skynet has been opened.
