:markdown
  # Events

  ## message(channel, data)

  Gets triggered when Skynet sends a message notification.

  ##### Params

  - **channel** - the channel UUID that the message was sent to.
  - **data** - the hash with the message data.

  ## connect

  Gets triggered when the connection to Skynet has been opened.
