---
title: Cylon.js - Examples for Javascript
author: The Hybrid Group
page_title: Javascript example
page_subtitle: example
layout: docco
---


#container
  #background
  %ul#jump_to
    %li
      %a.large{href: "javascript:void(0);"} Jump To …
      %a.small{href: "javascript:void(0);"} +
      #jump_wrapper
        #jump_page
          %a.source{href: "/docco/docsJs/blink"} Example for blink.js
          %a.source{href: "/docco/docsJs/drone"} Example for drone.js
          %a.source{href: "/docco/docsJs/travis"} Example for travis.js


    
  %ul.sections 
    %li#title 
      .annotation
        %h1 blink.js
    %li#section-1 
      .annotation
        .pilwrap 
          %a.pilcrow{:href => "#section-1"} &#182;
      .content
        .highlight
          :markdown
                :::javascript
                var Cylon = require('cylon');

    %li#section-2
      .annotation
        .pilwrap
          %a.pilcrow{href: "#section-2"} ¶
        %p Initialize the robot
      .content
        .highlight
          :markdown
                :::javascript
                Cylon.robot({
                  connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' },
                  device: {name: 'led', driver: 'led', pin: 13},

                  work: function(my) {
                    every((1).seconds(), function() {my.led.toggle()});
                  }
                }).start();
             
                    
        
        
      