---
title: Cylon.js - Examples for Javascript
author: The Hybrid Group
page_title: Javascript example
page_subtitle: example
layout: docco
---

#container
  #background
  %ul#jump_to
    %li
      %a.large{href: "javascript:void(0);"} Jump To …
      %a.small{href: "javascript:void(0);"} +
      #jump_wrapper
        #jump_page
          %a.source{href: "/docco/docsJs/blink"} Example for blink.js
          %a.source{href: "/docco/docsJs/drone"} Example for drone.js
          %a.source{href: "/docco/docsJs/travis"} Example for travis.js

  %ul.sections
    %li#title
      .annotation
        %h1 drone.js
    %li#section-1
      .annotation
        .pilwrap
          %a.pilcrow{href: "#section-1"} ¶
      .content
        .highlight
          :markdown
                :::javascript
                var Cylon = require('..');

                Cylon.robot({
                  connection: {name: 'ardrone', adaptor: 'ardrone', port: '192.168.1.1'},
                  device: {name: 'drone', driver: 'ardrone'},
                  work: function(my) {
                    my.drone.takeoff();

                    after((10).seconds(), function() {
                      my.drone.land();
                    }

                    after((15).seconds(), function() {
                      my.drone.stop();
                    }
                  }
                }).start();