
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td hmc6352
      %td.links= link_to 'Code', '/documentation/examples/i2c/js/hmc6352'
      %td.links
