
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td accelerometer
      %td.links= link_to 'Code', '/documentation/examples/pebble/js/accelerometer'
      %td.links
    %tr
      %td hello_pebble
      %td.links= link_to 'Code', '/documentation/examples/pebble/js/hello_pebble'
      %td.links
