---
title: Cylon.js Getting Started
author: The Hybrid Group
description: Cylon.js Getting Started
page_title: Getting Started
page_subtitle: A Guide by Humans, for Humans.
layout: page
---

%section.intro

  = partial "../what_is_cylon"

%section.node-installation
  %h2 How to setup Node.js (required to use Cylon.js)
  %h3 OSX
  %p
    OSX setup for node.

  %h3 Ubuntu
  %p
    Ubuntu setup for node.

  %h3 Windows
  %p
    Windows setup for node.

%section.cylon-installation
  %h2 How to setup Cylon.js
  %p
    In order to use Cylon.js, you must install the Cylon.js node modules needed to control your particular hardware setup. For example, to use Cylon.js with an Arduino, you will need to install the `cylon-firmata` module. Check out these examples:

  %h3 OSX
  :markdown
        :::ruby
        npm install cylon
        npm install cylon-firmata

  %h3 Ubuntu
  :markdown
        :::ruby
        npm install cylon
        npm install cylon-firmata

  %h3 Windows
  %p
    Windows setup for cylon.

%section.cylon-running
  %h2 Cylon.js Robots
  %h3 Writing your robot code:

  %p 
  Now you are ready to write your own code. Take a look at the examples below, or go to the 
  = link_to "examples", "https://github.com/hybridgroup/cylon/tree/master/examples" 
  directory for a whole bunch of code you can use to help get started. We recommend using Test-Driven Robotics (TDR) with your preferred test frameworks.

  %h3 Running your robot:

  :markdown
        :::ruby
        node robotfilename.js

  %p or
  
  :markdown
        :::ruby
        coffee robotfilename.coffee

%section.cylon-code
  %h2 Cylon.js code examples

  %h3 Example: Arduino with LED and a button
  %p
    To use this example, you must first run `npm install cylon-firmata`

  %h4 CoffeeScript
  :markdown
        :::javascript
        Cylon = require('cylon')

        Cylon.robot
          connection:
            name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'

          devices:
            [
              {name: 'led', driver: 'led', pin: 13},
              {name: 'button', driver: 'button', pin: 2}
            ]

          work: (my) ->
            my.button.on 'push', -> my.led.toggle()

        .start()

  %h3 Parrot ARDrone 2.0
  %p
    To use this example, you must first run `npm install cylon-ardrone`

  %h4 CoffeeScript
  :markdown
        :::javascript
        Cylon = require('cylon')

        Cylon.robot
          connection:
            name: 'ardrone', adaptor: 'ardrone', port: '192.168.1.1'

          device:
            name: 'drone', driver: 'ardrone'

          work: (my) ->
            my.drone.takeoff()

            after 10.seconds(), ->
              my.drone.land()

            after 15.seconds(), ->
              my.drone.stop()

        .start()

%section.contributing
  %h2 Contributing

  %p 
    You can help cylon grow by contributing your code, new drivers or platforms to the project, check the Github page
    = link_to "cylon on github.","https://github.com/hybridgroup/cylon" 

  %ul
    %li Fork it
    %li Create your feature branch (git checkout -b my-new-feature)
    %li Commit your changes (git commit -am 'Add some feature')
    %li Push to the branch (git push origin my-new-feature)
    %li Create new Pull Request

%section.footer
