---
title: Artoo Platforms
author: The Hybrid Group
description: Artoo Platforms
page_title: Getting Started
page_subtitle: A Guide by Humans, for Humans.
layout: page
---

%section.intro

  = partial "../what_is_cylon"

%section.how-to
  %h2 How to setup your node environment
  %p
    Comming soon.

  %p
    Cylon.js also has support for devices that can work across multiple hardware platforms.
    %ul
      %li
        General Purpose Input/Output (GPIO) devices &lt;==&gt;
        = link_to "Drivers", "/documentation/drivers/"
      %li
        i2c devices &lt;==&gt;
        = link_to "Drivers", "/documentation/drivers/"

  %p
    Do you have some hardware that is not yet supported by Cylon? We want to help you, help us, help them! Get in touch...

%section.artoo-code
  %h2 Code to control robots with Cylon.js

  %h3 Example: Arduino with LED and a button

  :markdown
        :::ruby
        comming soon

  %h3 Parrot ARDrone 2.0

  :markdown
        :::ruby
        comming soon

%section.installation

  %h3 Installation

  :markdown
        :::ruby
        comming soon
  %p
    Then install the gems required by the hardware you want to use. For
    example, if you wanted to use an XBox360 controller to fly your ARDrone:

  :markdown
        :::ruby
        comming soon

  %h3 Writing your robot code:

  %p Now you are ready to write your own code. Take a look at the examples directory for a whole bunch of code you can use to help get started. We recommend using Test-Driven Robotics (TDR) with your preferred test frameworks.

  %h3 Running your robot:

  :markdown
        :::ruby
        comming soon

%section.contributing
  %h2 Contributing

  %p 
    You can help cylon grow by contributing your code, new drivers or platforms to the project, check the Github page
    = link_to "cylon on github.","https://github.com/hybridgroup/cylon" 

  %ul
    %li Fork it
    %li Create your feature branch (git checkout -b my-new-feature)
    %li Commit your changes (git commit -am 'Add some feature')
    %li Push to the branch (git push origin my-new-feature)
    %li Create new Pull Request

%section.footer
