---
layout: documentation
page_title_show: true
title: Cylon.JS Example - Drone Navigation
page_title: "Example: Drone Navigation"
author: The Hybrid Group
description: A Cylon.JS code example
---

.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'ardrone', adaptor: 'ardrone', port: '192.168.1.1' },
          devices: [
            { name: 'drone', driver: 'ardrone' },
            { name: 'nav', driver: 'ardroneNav' }
          ],

          work: function(my) {
            my.drone.config('general:navdata_demo', 'TRUE');
            my.nav.on('update', function(data) { console.log(data); });
          }
        }).start();

