---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - Drone Navigation"
page_title: "Example: Drone Navigation"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-ardrone/tree/master/examples/drone_nav' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
-content_for :js_accordeon do
  :javascript
    $("#example-panel").addClass("active-panel");
    $(".accordion-docs dt:nth-child(13) a:nth-child(2) img").addClass("rotate");

.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'ardrone', adaptor: 'ardrone', port: '192.168.1.1' },
          devices: [
            { name: 'drone', driver: 'ardrone' },
            { name: 'nav', driver: 'ardroneNav' }
          ],

          work: function(my) {
            my.drone.config('general:navdata_demo', 'TRUE');
            my.nav.on('update', console.log);
          }
        }).start();

