@import "../hybridpages/assets/stylesheets/main.scss";

// Custom
.app-logo {
  a {
    @extend .hidden-text;
    margin-top: 10px;
  }
}

.content {
  .documentation {
    .api {
      img {
          width: 100%;
      }
    }
  }
}

.documentation {
  .index {
    @include outer-container;
    padding-left: 30px;

    section {
      margin: 0 auto;
      @include span-columns(3 of 9.5);
      background: #620020;
      height: 100px;
      margin-bottom: 10px;
      border-radius: 5px;

      a {
        width: 100%;
        height: 100%;
        padding: 10px;
        display: block;
      }

      &:hover {
        background: darken(#620020, 5);
      }

      .title {
        color: #EFECE5;
        font-weight: bold;
      }

      .description {
        color: #b39f89;
      }
    }
  }
}
