@import "mixins";
@import "barebones";
@import "coderay";
@import "bourbon";
@import "neat";


// Config

$body-bg-color: #f8f4ef;
$footer-text-color: #e6d6d6;

$link-color: #9e162e;
$link-hover-color: #580a25;

$title-color: #971542;
$lesser-title-color: #523d47;
$header-subtitle-color: #505252;

$hero-color: #580a25;
$hero-title-color: #fafaf1;
$hero-subtitle-color: #b39f89;
$hero-link-color: #fffbda;
$hero-link-hover-color: white;

$cta-color: #c51f3c;
$cta-hover-color: $cta-color - 30;
$cta-text-color: $hero-link-color;
$cta-text-hover-color: $hero-link-hover-color;

$blog-title-color: #ee274a;
$blog-date-top-color: #b39f89;

$doc-description-color:  #808080;

$social-catcher-background-color: #FDFCF5;

$header-size: 66px;
$logo-size: 226px;

$small-screen: 479px;
$medium-screen: 767px;
$big-screen: 964px;

//URL SRC
$body-background-src: '../images/bg-artoo.png';
$header-logo-src: '/images/logo.png';

//Page Font
$page-title-font: "Montserrat", sans-serif;

// Partials
@import "shared/base";
@import "shared/headers";
@import "shared/footers";
@import "shared/coderay";

// Pages
@import "layouts/home";
@import "layouts/blog";
@import "layouts/hardware";

// Pages
@import "elements/home";
@import "elements/blog";
@import "elements/page";
@import "elements/hardware";
@import "elements/documentation";
@import "elements/sphero_colors";

// Custom
.app-logo a {
  @extend .hidden-text;
  margin-top: 10px;
}
