---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - Sphero"
page_title: "Example: Sphero"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-sphero/tree/master/examples/basic' target='_blank'>View In Repo</a>"
---

.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'sphero', adaptor: 'sphero', port: '/dev/rfcomm0' },
          device: { name: 'sphero', driver: 'sphero' },

          work: function(me) {
            every((1).second(), function() {
              me.sphero.roll(60, Math.floor(Math.random() * 360));
            });
          }
        }).start();

