---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - Sphero Collisions"
page_title: "Example: Sphero Collisions"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-sphero/tree/master/examples/collision' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
-content_for :js_accordeon do
  :javascript
    $("#example-panel").addClass("active-panel");
    $(".accordion-docs dt:nth-child(13) a:nth-child(2) img").addClass("rotate");

.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'sphero', adaptor: 'sphero', port: '/dev/rfcomm0' },
          device: { name: 'sphero', driver: 'sphero' },

          work: function(me) {
            var color = 0x00FF00,
                bitFilter = 0xFFFF00;

            me.sphero.on('connect', function() {
              console.log("Setting up Collision Detection...");
              me.sphero.detectCollisions();
              me.sphero.setRGB(color);
              me.sphero.stop();
            });

            me.sphero.on('collision', function(data) {
              console.log("Collision:");
              color = color ^ bitFilter;
              console.log("Color: " + (color.toString(16)) + " ");
              me.sphero.setRGB(color);
              me.sphero.roll(90, Math.floor(Math.random() * 360));
            });
          }
        }).start();

