---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - locator"
page_title: "Example: locator"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-sphero/tree/master/examples/locator' target='_blank'>View In Repo</a>"
active_menu_docs: true
breadcrumbs: "<li><a href='#'>locator</a></li>"
---
-content_for :bredcrumbs do
  = partial "/documentation/examples/breadcrumbs"

.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'sphero', adaptor: 'sphero', port: '/dev/rfcomm1' },
          device: { name: 'sphero', driver: 'sphero' },

          work: function(my) {
            var color = 0x00FF00,
                bitFilter = 0xFFFF00;

            my.sphero.on('connect', function() {
              console.log("Setting up Collision Detection...");
              my.sphero.detectCollisions();
              my.sphero.detectLocator();
              my.sphero.setRGB(color);
              my.sphero.stop();
            });

            my.sphero.on('locator', function(data) {
              console.log("locator:");
              console.log(data);
            });

            my.sphero.on('collision', function(data) {
              console.log("Collision:");
              color = color ^ bitFilter;
              console.log("Color: " + (color.toString(16)) + " ");
              my.sphero.setRGB(color);
              my.sphero.roll(128, Math.floor(Math.random() * 360));
            });

          }
        }).start();

