---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - Multiple Spheros"
page_title: "Example: Multiple Spheros"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-sphero/tree/master/examples/multiple' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
-content_for :js_accordeon do
  :javascript
    $("#example-panel").addClass("active-panel");
    $(".accordion-docs dt:nth-child(13) a:nth-child(2) img").addClass("rotate");

.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        var SpheroRobot = (function() {
          function SpheroRobot() {}

          SpheroRobot.prototype.connection = { name: 'Sphero', adaptor: 'sphero' };
          SpheroRobot.prototype.device = { name: 'sphero', driver: 'sphero' };

          SpheroRobot.prototype.work = function(my) {
            every((1).second(), function() {
              console.log(my.name);
              my.sphero.setRandomColor();
              my.sphero.roll(60, Math.floor(Math.random() * 360));
            });
          };

          return SpheroRobot;
        })();

        var bots = [
          { name: "Thelma", port: "/dev/rfcomm0" },
          { name: "Louise", port: "/dev/rfcomm1" }
        ];

        for (var i = 0; i < bots.length; i++) {
          var bot = bots[i];
          var robot = new SpheroRobot;

          robot.name = bot.name;
          robot.connection.port = bot.port;

          Cylon.robot(robot);
        }

        Cylon.start();

