---
title: Cylon.js - Examples for CoffeeScript
author: The Hybrid Group
page_title: CoffeeScript example
page_subtitle: example
layout: docco
---
#container
  #background
  %ul#jump_to
    %li
      %a.large{href: "javascript:void(0);"} Jump To …
      %a.small{href: "javascript:void(0);"} +
      #jump_wrapper
        #jump_page
          %a.source{href: "/docco/docsCoffee/blink"} Example for blink.coffee
          %a.source{href: "/docco/docsCoffee/drone"} Example for drone.coffee
          %a.source{href: "/docco/docsCoffee/travis"} Example for travis.coffee
          
  %ul.sections
    %li#title
      .annotation
        %h1 drone.coffee
    %li#section-1
      .annotation
        .pilwrap
          %a.pilcrow{href: "#section-1"} ¶
      .content
        .highlight
          :markdown
                :::javascript
                Cylon = require('..')

                Cylon.robot
                  connection:
                    name: 'ardrone', adaptor: 'ardrone', port: '192.168.1.1'

                  device:
                    name: 'drone', driver: 'ardrone'

                  work: (my) ->
                    my.drone.takeoff()

                    after 10.seconds(), ->
                      my.drone.land()

                    after 15.seconds(), ->
                      my.drone.stop()

                .start()