---
title: Cylon.js - Analog Sensor Driver
author: The Hybrid Group
page_title: Analog Sensor
page_subtitle: Driver
layout: page
---
.documentation
  %section.intro
    = image_tag "/images/analog-sensor.jpg", class: "display"
    %p
      Makes it possible to interact with analog inputs on your device and obtain values that represent the analog input send by the sensors.
      The value received from an analog input read from the sensor goes from 0 to 1027.

  %section.how_to
    %h2 How to establish a connection and setup the driver
    %h3 For Arduino:
    :markdown
          :::ruby
          Cylon = require('cylon')

          Cylon.robot
            connection:
              name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'

            devices:
              [
                {name: 'sensor', driver: 'analogSensor', pin: 0, upperLimit: 900, lowerLimit: 100},
              ]

    -#%h3 For Digispark:
    -#:markdown
          -#:::ruby

  %section.public-methods
    %h2 Commands:

    %h3 analogRead
    %p
      coming soon

  %section.public-events
    %h2 Events:
    %ul 
      %li 
        %h3 update
      %small 
        This event will contain one of the following events.
        %br/  
        You can also subscribe to one of the specific events, if that is the information you are interested in.
      %li
        %h3  analogRead
        %p coming soon
      %li
        %h3  upperLimit
        %p coming soon
      %li
        %h3  lowerLimit
        %p coming soon
      %li 
        %h3 start
        %p Sent when the device has been started and is ready to use.

    -#%h3 How to use events and call them on your drivers
    -#%p Pretty simple, when the connection and the driver have been setup (as explained above) you can call events on them as follows:
    -#:markdown
          -#:::ruby

  -#%section.how-to
    -#%h2 How to use
    -#%h3 Example using a photoresistor sensor to turn a LED on and off.
    -#:markdown
          -#:::ruby

  %section.circuit
    %h2 Circuit and Schematic
    %p
      Circuit for analog sensors is pretty much the same as the button circuit, you just need to substitute
      the button for a photoresistor.
      <br />
      =link_to "http://arduino.cc/en/tutorial/button", "http://arduino.cc/en/tutorial/button"
    %p
      It should look like the circuit in this example.
      <br />
      =link_to "http://arduino.cc/en/Tutorial/SwitchCase", "http://arduino.cc/en/Tutorial/SwitchCase"

  %section.compatibility.hardware
    %h2 Works with:
    =# TODO: Update platform list with all that work with this driver in artoo.
    .devices
      = partial "documentation/partials/arduino"
      = #partial "documentation/partials/digispark"
