---
title: Cylon.js - ARDrone Driver
author: The Hybrid Group
page_title: ARDrone
page_subtitle: Driver
layout: page
---
.documentation
  %section.intro
    =image_tag "/images/ardrone-flight.jpg", class: "display"
    %p
      Allows user to send flight control commands to an ARDrone. Flight control commands are those used to tell the ARDrone to take off, land, and or any number of other autonomous flight manuvers.

  %section.how-to
    %h2 How to establish a connection and setup the driver
    %p
      Communication with the ARDrone's flight control interface takes place using a WiFi connection. The ARDrone is a WiFi access point, so it normally can be the only device you connect to, without some additional effort to reconfigure the drone itself to put it into infrastructure mode.
    :markdown
          :::ruby
          coming soon

  %section.public-methods
    %h2 Commands:

    %h3 takeoff
    %p
      Causes the drone to take off, if already started.

    %h3 land
    %p
      Causes the drone to begin its landing sequence.

    %h3 stop
    %p
      Stops the drone.

    %h3 up
    %p
      Causes the drone to increase altitude.

    %h3 down
    %p
      Causes the drone to decrease altitude.
       
    %h3 left
    %p
      Causes the drone to bank to the left.

    %h3 right
    %p
      Causes the drone to bank to the right.

    %h3 front
    %p
      coming soon

    %h3 back
    %p
      coming soon

    %h3 clockwise
    %p
      coming soon 

    %h3 counterClockwise
    %p
      coming soon
      
    %h3 calibrate
    %p
      coming soon
      
    %h3 config
    %p
      coming soon
      
    %h3 animate
    %p
      coming soon
      
    %h3 animateLeds
    %p
      coming soon
      
    %h3 disableEmergency
    %p
      coming soon                  

  -#%section.how-to
    -#%h2 How to use
    -#%h3 Example of controlling an ARDrone.
    -#:markdown
          -#:::ruby

    -#%h3 Example of ARDrone doing a flip.
    -#:markdown
          -#:::ruby

  %section.compatability.hardware
    %h2 Works with:
    .devices
      = partial "documentation/partials/ardrone"
