---
title: Cylon.js - BlinkM Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: BlinkM
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
subnavjs: true

arduino_platform: true
beaglebone_platform: true
raspberry_platform: true
digispark_platform: true
---
-content_for :js_accordeon do
  :javascript
    $("#driver-panel").addClass("active-panel");
    $("#i2c li:nth-child(1)").addClass("active-link");
    $(".accordion-docs dt:nth-child(9) a:nth-child(2) img").addClass("rotate");

%section.intro
  =image_tag "/images/devices/blinkm.jpg", class: "display"
  .info-intro
    %p Allows user to control BlinkM RGB LED via i2c interface.
    %p 
      For more information click
      = link_to "here.", "http://thingm.com/products/blinkm/", target: "_blank"
  .clear
  
%section.how-to#HowToConnect
  %h2 How To Connect
  :markdown
    Install the module with `npm install cylon-i2c`
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' },
          device: {name: 'led', driver: 'led', pin: 13},
          ...


%section.how-to#HowToUse
  %h2 How To Use
  %p Example using a BlinkM.
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' },
          device: {name: 'led', driver: 'led', pin: 13},

          work: function(my) {
            every((1).seconds(), function() {my.led.toggle()});
          }
        }).start();


%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/i2c/commands_blinkm"
  .commands-api#Events
    = partial "/documentation/drivers/partials/i2c/events_blinkm"

%section.circuit#Circuit
  %h2 Circuit 
  .description-circuit
    %p
  .image-circuit 
    %img{:src => "/documentation/drivers/breadboards/i2c/blinkm_bb.png", :alt => ""}/ 
  .clear 

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "documentation/partials/devices_platforms"
    

