---
title: Cylon.js - BlinkM Driver
author: The Hybrid Group
page_title: BlinkM
page_subtitle: Driver
layout: documentation
page_title_show: true

arduino_platform: true
beaglebone_platform: true
raspberry_platform: true
digispark_platform: true
---
%section.intro
  =image_tag "/images/devices/blinkm.jpg", class: "display"
  %p
    Allows user to control BlinkM RGB LED via i2c interface.

%section.how-to
  %h2 How to establish a connection and setup the driver
  :markdown
    Install the module with `npm install cylon-i2c`
  %h3 JavaScript
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' },
          device: {name: 'led', driver: 'led', pin: 13},
          ...

  %h3 CoffeeScript
  :markdown
        :::javascript
        Cylon = require('cylon')

        Cylon.robot
          connection:
            name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'

          device:
            name: 'led', driver: 'led', pin: 13
          ...

%section.how-to
  %h2 How to use
  %p Example using a BlinkM.
  %h3 JavaScript
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' },
          device: {name: 'led', driver: 'led', pin: 13},

          work: function(my) {
            every((1).seconds(), function() {my.led.toggle()});
          }
        }).start();

  %h3 CoffeeScript
  :markdown
        :::javascript
        Cylon = require('cylon')

        Cylon.robot
          connection:
            name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'

          device:
            name: 'led', driver: 'led', pin: 13

          work: (my) ->
            # we do our thing here
            every 1.second(), -> my.led.toggle()

        .start()

%section.public-methods
  .commands_api
    = partial "/documentation/drivers/partials/i2c/commands_blinkm"
  .commands_api
    = partial "/documentation/drivers/partials/i2c/events_blinkm"

%section.circuit
  %h2 Circuit and Schematic
  %p
    Coming soon...

%section.compatability.hardware
  %h2 Works with:
  .devices
    = partial "documentation/partials/devices_platforms"
    

