---
title: Cylon.js - BlinkM Driver
author: The Hybrid Group
page_title: BlinkM
page_subtitle: Driver
layout: documentation
page_title_show: true

arduino_platform: true
beaglebone_platform: true
raspberry_platform: true
---
%section.intro
  =image_tag "/images/devices/blinkm.jpg", class: "display"
  %p
    Allows user to control BlinkM RGB LED via i2c interface.

%section.how-to
  %h2 How to establish a connection and setup the driver
  :markdown
    Install the module with `npm install cylon-i2c`
  %h3 JavaScript
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' },
          device: {name: 'led', driver: 'led', pin: 13},
          ...

  %h3 CoffeeScript
  :markdown
        :::javascript
        Cylon = require('cylon')

        Cylon.robot
          connection:
            name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'

          device:
            name: 'led', driver: 'led', pin: 13
          ...
%section.public-events
  %h2 Commands:
  %table.commands 
    %tr 
      %th Command (param)
      %th Description
    %tr 
      %td.command goToRGB
      %td.param  
        %p 
          Sets the color of the BlinkM RGB LED to the specified combination of RGB color provided. 
          %br/ 
          (red, green and blue values should be between 0 and 255)
        %h5 Params
        %span no params
        %h5 Returns 
        %span (r, g, b, cb)
    %tr 
      %td.command fadeToRGB
      %td.param  
        %p 
          Fades the color of the BlinkM RGB LED to the specified combination of RGB color provided. 
          %br/ 
          (red, green and blue values should be between 0 and 255)
        %h5 Params
        %span no params
        %h5 Returns 
        %span (r, g, b, cb)
    %tr 
      %td.command fadeToHSB
      %td.param  
        %p Fades the color of the BlinkM RGB LED to the specified combination of HSB provided.
        %h5 Params
        %span no params
        %h5 Returns 
        %span (h, s, b, cb)
    %tr 
      %td.command fadeToRandomRGB
      %td.param  
        %p 
          Fades the color of the BlinkM RGB LED to a random combination of RGB color. 
          %br/ 
          (red, green and blue values should be between 0 and 255)
        %h5 Params
        %span no params
        %h5 Returns 
        %span (r, g, b, cb)
    %tr 
      %td.command fadeToRandomHSB
      %td.param  
        %p Fades the color of the BlinkM RGB LED to a random combination of HSB .
        %h5 Params
        %span no params
        %h5 Returns 
        %span (h, s, b, cb)
    %tr 
      %td.command playLightScript
      %td.param  
        %p Plays a light script for the BlinkM RGB LED.
        %h5 Params
        %span no params
        %h5 Returns 
        %span (id, repeats, startAtLine, cb)
    %tr 
      %td.command stopScript
      %td.param  
        %p Stops an specific script for the BlinkM RGB LED.
        %h5 Params
        %span no params
        %h5 Returns 
        %span cd
    %tr 
      %td.command setFadeSpeed
      %td.param  
        %p Sets a fade to an specific speed for the BlinkM RGB LED.
        %h5 Params
        %span no params
        %h5 Returns 
        %span speed
    %tr 
      %td.command setTimeAdjust
      %td.param  
        %p Sets a time adjust for the BlinkM RGB LED.
        %h5 Params
        %span no params
        %h5 Returns 
        %span (time, cb)
    %tr 
      %td.command getRGBColor
      %td.param  
        %p 
          Returns an array containing the RGB values for the current color. 
          %br/ 
          (all integer between 0 and 255)
        %h5 Params
        %span no params
        %h5 Returns 
        %span integer_array (cb) 
    %tr 
      %td.command setAddress
      %td.param  
        %p Sets an address to the driver.
        %h5 Params
        %span no params
        %h5 Returns 
        %span (cb) 
    %tr 
      %td.command getAddress
      %td.param  
        %p Returns an sring describing the I2C addresss being used.
        %h5 Params
        %span no params
        %h5 Returns 
        %span (address, cb)
    %tr 
      %td.command getFirmware
      %td.param  
        %p Returns an sring describing the I2C firmware version being used.
        %h5 Params
        %span no params
        %h5 Returns 
        %span integer_value
  

  %h2 Events
  %table.commands 
    %tr 
      %th Event
      %th Description
    %tr 
      %td.command 
        %span start
      %td Sent when the device has been started and is ready to use.

%section.how-to
  %h2 How to use
  %p Example using a BlinkM.
  %h3 JavaScript
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' },
          device: {name: 'led', driver: 'led', pin: 13},

          work: function(my) {
            every((1).seconds(), function() {my.led.toggle()});
          }
        }).start();

  %h3 CoffeeScript
  :markdown
        :::javascript
        Cylon = require('cylon')

        Cylon.robot
          connection:
            name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'

          device:
            name: 'led', driver: 'led', pin: 13

          work: (my) ->
            # we do our thing here
            every 1.second(), -> my.led.toggle()

        .start()

%section.circuit
  %h2 Circuit and Schematic
  %p
    Coming soon...

%section.compatability.hardware
  %h2 Works with:
  .devices
    = partial "documentation/partials/devices_platforms"
    

