---
title: Cylon.js - Button Driver
author: The Hybrid Group
page_title: Button
page_subtitle: Driver
layout: documentation
page_title_show: true

arduino_platform: true
beaglebone_platform: true
raspberry_platform: true
spark_platform: true
---
%section.intro
  = image_tag "/images/devices/button.jpg", class: "display"
  %p
    Simple interface that makes it possible to register clicks through physical input.

%section.how_to
  %h2 How to establish a connection and setup the driver 
  %h3 JavaScript
  :markdown
        :::javascript

        var Cylon = require('cylon');

        Cylon.robot({
          connection: {name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'},

          device: {name: 'button', driver: 'button', pin: 2},
          ...

  %h3 CoffeeScript
  :markdown
        :::javascript
        Cylon = require 'cylon'

        Cylon.robot
          connection:
            name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'

          device:
            name: 'button', driver: 'button', pin: 2
          ...


%section.how-to
  %h2 How to use
  %p 
    This example detects when a button has been pushed.

  %h3 JavaScript    
  :markdown
        :::javascript

        var Cylon = require('cylon');

        Cylon.robot({
          connection: {name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'},

          device: {name: 'button', driver: 'button', pin: 2},

          work: function(my) {
            my.button.on('push', function() {
              Logger.info("Button pushed!");
            });
          }
        }).start();

  %h3 CoffeeScript
  :markdown
        :::javascript
        Cylon = require 'cylon'

        Cylon.robot
          connection:
            name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'

          device:
            name: 'button', driver: 'button', pin: 2

          work: (my) ->
            my.button.on 'push', -> Logger.info "Button pushed!"

        .start()

%section.public-methods
  .commands_api
    = partial "/documentation/drivers/partials/gpio/commands_button"
  .commands_api
    = partial "/documentation/drivers/partials/gpio/events_button"

%section.circuit
  %h2 Circuit and Schematic
  .description_circuit
    %p 
  .image_circuit
    %img{:src => "/documentation/drivers/breadboards/gpio/button_bb.png", :alt => ""}/ 
  .clear

%section.compatability.hardware
  %h2 Works with:
  =# TODO: Update platform list with all that work with this driver in Cylon.js.
  .devices
    = partial "documentation/partials/devices_platforms"
    
