---
title: Cylon.js - Continuous Servo Driver
author: The Hybrid Group
page_title: Continous Servo
page_subtitle: Driver
layout: documentation
page_title_show: true
subnav_driver: true
subnav_circuit_driver: true

arduino_platform: true
raspberry_platform: true
spark_platform: true
---
%section.intro
  = image_tag "/images/devices/continuous-servo.jpg", class: "display"
  .info-intro
    %p Provides an interface for making servos easy to work and interact with from Cylon.js.
  .clear
  
%section.how-to#HowToConnect
  %h2 How To Connect
  %h3 JavaScript
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: {name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'},

          device: {name: 'servo', driver: 'continuous-servo', pin: 3},
        ...

  %h3 CoffeeScript
  :markdown
        :::ruby
        Cylon = require 'cylon'

        Cylon.robot
          connection:
            name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'

          device:
            name: 'servo', driver: 'continuous-servo', pin: 3
        ...
  
%section.how-to#HowToUse
  %h2 How To Use
  %p
    This example moves a servo from angle 45 to 90 to 135.

  %h3 JavaScript
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: {name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'},

          device: {name: 'servo', driver: 'continuous-servo', pin: 3},

          work: function(my) {
            var angle = 45 ;
            my.servo.angle(angle);
            every((1).second(), function() {
              angle = angle + 45 ;
              if (angle > 135) {
                angle = 45
              }
              my.servo.angle(angle);
            });
          }
        }).start();

  %h3 CoffeeScript
  :markdown
        :::ruby
        Cylon = require 'cylon'

        Cylon.robot
          connection:
            name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'

          device:
            name: 'servo', driver: 'continuous-servo', pin: 3

          work: (my) ->
            angle = 45
            my.servo.angle angle
            every 1.second(), ->
              angle += 45
              angle = 45 if angle > 135
              my.servo.angle angle

        .start()

%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/gpio/commands_continuous_servo"
  .commands-api#Events
    = partial "/documentation/drivers/partials/gpio/events_continuous_servo"

%section.circuit#Circuit
  %h2 Circuit 
  .description-circuit
    %p
  .image-circuit 
    %img{:src => "/documentation/drivers/breadboards/gpio/servo_bb.png", :alt => ""}/ 
  .clear 



%section.compatability.hardware#Compatability
  %h2 Compatibility
  =# TODO: Update platform list with all that work with this driver in Cylon.js.
  .devices
    = partial "documentation/partials/devices_platforms"