---
title: Cylon.js - Crazyflie Driver
author: The Hybrid Group
page_title: Crazyflie
page_subtitle: Driver
layout: documentation
page_title_show: true

crazyflie_platform: true
---
%section.intro
  =image_tag "/images/devices/crazyflie-flight.jpg", class: "display"
  %p
    Allows user to send flight control commands to a Crazyflie micro-quadcopter. Flight control commands are those used to tell the Crazyflie to take off, land, and or any number of other autonomous flight manuvers.

%section.how-to
  %h2 How to establish a connection and setup the driver
  %p
    Communication with the Crazyflie's flight control interface takes place using a 2.4GHz radio connection. The Crazyflie is controlled from your computer using a Crazyradio, which is a custom USB 2.4GHz radio device. 
  %h3 JavaScript
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'crazyflie', adaptor: 'crazyflie' },
          device: {name: 'drone', driver: 'crazyflie'},
        ...

  %h3 CoffeeScript
  :markdown
        :::javascript
        Cylon = require 'cylon'

        Cylon.robot
          connection:
            name: 'crazyflie', adaptor: 'crazyflie'

          device:
            name: 'drone', driver: 'crazyflie'
        ...

%section.public-methods
  %h2 Commands:
  %table.commands 
    %tr 
      %th Command (param)
      %th Description
    %tr 
      %td.command land
      %td.param  
        %p Initiates a landing sequence.
        %h5 Params
        %span no params
        %h5 Returns 
        %span nil
    %tr 
      %td.command takeoff
      %td.param  
        %p Initiates take off sequence.
        %h5 Params
        %span no params
        %h5 Returns 
        %span nil
    %tr 
      %td.command hover
      %td.param  
        %p Makes the crazyflie hover in a position.
        %h5 Params
        %span no params
        %h5 Returns 
        %span nil
    %tr 
      %td.command setPitch(deg)
      %td.param  
        %p Orders crazyflie to go forward or backward by the amount specified by deg.
        %h5 Params
        %span deg → nil
        The degrees which to return data
        %h5 Returns 
        %span nil
    %tr 
      %td.command setYaw(deg)
      %td.param  
        %p Orders crazyflie to turn left or right by the amount specified by deg.
        %h5 Params
        %span deg → nil
        The degrees which to return data
        %h5 Returns 
        %span nil
    %tr 
      %td.command setThrust(accelerate)
      %td.param  
        %p Orders crazyflie to accelerate. 
        %span accelerate → nil
        The acceleration which to return data
        %h5 Returns 
        %span nil
    %tr 
      %td.command shutdown
      %td.param  
        %p Shutdown the device.
        %h5 Params
        %span no params
        %h5 Returns 
        %span nil
    %tr 
      %td.command setParam(param, value)
      %td.param  
        %p Set the parameters for crazyflie.
        %span (param, value) → (param, value)
        The param and value which to return data
        %h5 Returns 
        %span (param, value)
        
  %h2 Events:
  %table.commands 
    %tr 
      %th Event
      %th Description
    %tr 
      %td.command 
        %span stop
      %td Sent when the device has been stopped.
    %tr 
      %td.command 
        %span setParam(param, value)
      %td  
        %p Set the parameters for crazyflie.
        %h5 data
        %span param, value
        Current param and value reading 
    %tr 
      %td.command 
        %span start
      %td Sent when the device has been started and is ready to use.


%section.how-to
  %h2 How to use
  %h3 Examples
  %p This small program causes the Crazyflie to takeoff for 10 seconds.
  %h3 JavaScript
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'crazyflie', adaptor: 'crazyflie', port: 'radio://1/10/250KPS' },
          device: {name: 'drone', driver: 'crazyflie'},

          work: function(my) {
            my.drone.on('start', function() {
              my.drone.takeoff();
              after((10).seconds(), function() { 
                my.drone.land();
              });
              after((15).seconds(), function() { 
                my.drone.stop();
              });
            });
          }
        }).start();

  %h3 CoffeeScript
  :markdown
        :::javascript
        Cylon = require 'cylon'

        Cylon.robot
          connection:
            name: 'crazyflie', adaptor: 'crazyflie', port: "radio://1/10/250KPS"

          device:
            name: 'drone', driver: 'crazyflie'

          work: (my) ->
            my.drone.on 'start', ->
              my.drone.takeoff()
              after 10.seconds(), ->
                my.drone.land()
              after 15.seconds(), ->
                my.drone.stop()

        .start()

%section.compatability.hardware
  %h2 Works with:
  .devices
    = partial "documentation/partials/devices_platforms"
