---
title: Cylon.js - Force Driver
author: The Hybrid Group
page_title: Force
page_subtitle: Driver
layout: page
---
.documentation
  %section.intro
    = image_tag "/images/force.jpg", class: "display"
    %p
    -#here we need some description of the driver  *************
      Makes it possible to interact with force.com.

  %section.how_to
    %h2 How to establish a connection and setup the driver
    %h3 JavaScript
    -#here we need the connection and device in JS(coming soon ..)  *************
    :markdown
          :::javascript
          Cylon = require('cylon');

          Cylon.robot({
            connection: {
              name: 'sfcon',
              adaptor: 'force'
            },
            device: {
              name: 'salesforce',
              driver: 'force'
            }
            ...

    %h3 CoffeeScript
    -#here we need the connection and device in Coffee(coming soon ..)  *************
    :markdown
          :::javascript
            Cylon = require('cylon')

            Cylon.robot
              connection:
                name: 'sfcon', adaptor: 'force'

              device:
                name: 'salesforce', driver: 'force'
             ...
    

  %section.public-methods
    %h2 Commands:
    %dl.methods 
      -#here we need the list of the commands, %dt for the title %dd for the description  *************
      -#%dt Title
      -#%dd description
      %dt authenticate
      %dd 
      %dt subscribe
      %dd 
      %dt push
      %dd 
    

  %section.public-events
    %h2 Events:

    %dl.methods
      -#same thing, here we need the list of the events, %dt for the title %dd for the description  *************
      -#%dt Title
      -#%dd description
      %dt connect
      %dd 
      %dt authenticate
      %dd 
      %dt subscribe
      %dd 
      %dt start
      %dd Sent when the device has been started and is ready to use.

  %section.how-to
    %h2 How to use
    %p 
    -#here we need an example of the cylon-force platform  *************
      -#description
      This example ...
    %h3 JavaScript
    -# here the code in JS (coming soon)  *************
    :markdown
          :::javascript
          coming soon ...

    %h3 CoffeeScript
    -# here the code in Coffee (coming soon)  *************
    :markdown
          :::javascript
          coming soon ...

  %section.circuit
    -#%h2 Circuit and Schematic
    -# here the schemantic (coming soon)  *************
    -#%p coming soon ...

  %section.compatibility.hardware
    %h2 Works with:
    =# TODO: Update platform list with all that work with this driver in Cylon.js.
    -# all ok here :)  *************
    .devices
      = partial "documentation/partials/force"
