---
title: Cylon.js - Keyboard Driver
author: The Hybrid Group
page_title: Keyboard
page_subtitle: Driver
layout: documentation
page_title_show: true
subnav_driver: true

keyboard_platform: true
---

%section.intro
  =image_tag "/images/devices/keyboard.jpg", class: "display"
  %p The Cylon adaptor for keyboard input.

%section.how-to#HowToConnect
  %h2 How To Connect
  %h3 Javascript
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'keyboard', adaptor: 'keyboard' },
          device: {name: 'keyboard', driver: 'keyboard'}
        ...

  %h3 CoffeeScript
  :markdown
        :::javascript
        Cylon = require 'cylon'

        Cylon.robot
          device: { name: 'keyboard', driver: 'keyboard' }
          connection: { name: 'keyboard', adaptor: 'keyboard' }
        ...

%section.how-to#HowToUse
  %h2 How To Use
  %p Example receiving button events from a generic joystick.
  %h3 Javascript
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'keyboard', adaptor: 'keyboard' },
          device: {name: 'keyboard', driver: 'keyboard'},

          work: function(my) {
            my.keyboard.on('a', function(key) { 
              console.log("A PRESSED!");
            });
          }
        }).start();
  %h3 CoffeeScript
  :markdown
        :::javascript
        Cylon = require 'cylon'

        Cylon.robot
          device: { name: 'keyboard', driver: 'keyboard' }
          connection: { name: 'keyboard', adaptor: 'keyboard' }
          work: (my) ->
            my.keyboard.on 'a', (key) ->
              console.log "A PRESSED!"

        .start()

%section.public-methods
  .commands_api#Events
    = partial "/documentation/drivers/partials/keyboard/events"

%section.compatability.hardware#Compatability
  %h2 Compatability
  .devices
    = partial "documentation/partials/devices_platforms"
