---
title: Cylon.js - Keyboard Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Keyboard
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true
subnavjs: trues

keyboard_platform: true
---
-content_for :js_accordeon do
  :javascript
    $("#driver-panel").addClass("active-panel");
    $("#others li:nth-child(1)").addClass("active-link");
    $(".accordion-docs dt:nth-child(9) a:nth-child(2) img").addClass("rotate");

%section.intro
  =image_tag "/images/devices/keyboard.jpg", class: "display"
  .info-intro
    %p The Cylon adaptor for keyboard input.
    %p
      For more information click
      = link_to "here", "http://en.wikipedia.org/wiki/Computer_keyboard", target: "_blank"
  .clear
  
%section.how-to#HowToConnect
  %h2 How To Connect
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'keyboard', adaptor: 'keyboard' },
          device: {name: 'keyboard', driver: 'keyboard'}
        ...

%section.how-to#HowToUse
  %h2 How To Use
  %p Example receiving button events from a generic joystick.
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'keyboard', adaptor: 'keyboard' },
          device: {name: 'keyboard', driver: 'keyboard'},

          work: function(my) {
            my.keyboard.on('a', function(key) { 
              console.log("A PRESSED!");
            });
          }
        }).start();
 
%section.public-methods
  .commands-api#Events
    = partial "/documentation/drivers/partials/keyboard/events"

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "documentation/partials/devices_platforms"
