---
title: Cylon.js - LCD Driver
author: The Hybrid Group
page_title: LCD
page_subtitle: Driver
layout: documentation
page_title_show: true
subnav_driver: true
subnav_circuit_driver: true

arduino_platform: true
digispark_platform: true
raspberry_platform: true
---
%section.intro#Top
  = image_tag "/images/devices/lcd.jpg", class: "display"
  
  %p Used for display characters.
    
%section.how_to#HowToConnect
  %h2 How to establish a connection and setup the driver 
  %h3 JavaScript
  :markdown
        :::javascript

        var Cylon = require('cylon');

        Cylon.robot({
          connection: {name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'},

          device: {name: 'lcd', driver: 'lcd', pin: 2},
          ...

  %h3 CoffeeScript
  :markdown
        :::javascript
        Cylon = require 'cylon'

        Cylon.robot
          connection:
            name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'

          device:
            name: 'lcd', driver: 'lcd', pin: 2
          ...


%section.how-to#HowToUse
  %h2 How to use
  %p 

  %h3 JavaScript    
  :markdown
        :::javascript
        coming soon

  %h3 CoffeeScript
  :markdown
        :::javascript
        coming soon

%section.public-methods
  .commands_api#Commands
    =# partial "/documentation/drivers/partials/i2c/commands_lcd"
  .commands_api#Events
    =# partial "/documentation/drivers/partials/i2c/events_lcd"

%section.circuit#Circuit
  %h2 Circuit
  .description_circuit
    %p 
  .image_circuit 
    %img{:src => "/documentation/drivers/breadboards/i2c/lcd_bb.png", :alt => ""}/ 
  .clear 

%section.compatability.hardware#Compatability
  %h2 Works with:
  =# TODO: Update platform list with all that work with this driver in Cylon.js.
  .devices
    = partial "documentation/partials/devices_platforms"
    
