---
title: Cylon.js - Leap Motion Driver
author: The Hybrid Group
page_title: Leap Motion
page_subtitle: Driver
layout: documentation
page_title_show: true
subnav_driver: true

leapmotion_platform: true
---

%section.intro
  =image_tag "/images/devices/leap_motion.jpg", class: "display"
  %p
    Allows user to interact with Cylon.js devices using a Leap Motion controller. The Leap Motion uses its built in cameras to track the user's hand motions, and translations those to events that Cylon.js can use to trigger actions or control hardware.

%section.how-to#HowToConnect
  %h2 How To Connect
  %h3 JavaScript
  :markdown
        :::javascript
        Cylon = require('cylon');

        Cylon.robot({
          connection: {
            name: 'leapmotion',
            adaptor: 'leapmotion',
            port: '127.0.0.1:6437'
          },
          device: {
            name: 'leapmotion',
            driver: 'leapmotion'
          },
         ... 
  %h3 CoffeeScript
  :markdown
        :::javascript
        Cylon = require 'cylon'

        Cylon.robot
          connection: { name: 'leapmotion', adaptor: 'leapmotion', port: '127.0.0.1:6437' }
          device: { name: 'leapmotion', driver: 'leapmotion' }
        ...


%section.how-to#HowToUse
  %h2 How To Use
  %p Example receiving hand gesture events from a Leap Motion.
  %h3 JavaScript
  :markdown
        :::javascript
        Cylon = require('cylon');

        Cylon.robot({
          connection: {
            name: 'leapmotion',
            adaptor: 'leapmotion',
            port: '127.0.0.1:6437'
          },
          device: {
            name: 'leapmotion',
            driver: 'leapmotion'
          },
          work: function(my) {
            return my.leapmotion.on('gesture', function(gesture) {
              return Logger.info(gesture);
            });
          }
        }).start();


  %h3 CoffeeScript
  :markdown
        :::javascript
        Cylon = require 'cylon'

        Cylon.robot
          connection: { name: 'leapmotion', adaptor: 'leapmotion', port: '127.0.0.1:6437' }
          device: { name: 'leapmotion', driver: 'leapmotion' }

          work: (my) ->
            my.leapmotion.on 'gesture', (gesture) ->
              Logger.info gesture

        .start()

%section.public-methods
  .commands_api#Events
    = partial "/documentation/drivers/partials/leapmotion/events"

%section.compatability.hardware#Compatability
  %h2 Compatability
  .devices
    = partial "documentation/partials/devices_platforms"
