---
title: Cylon.js - Leap Motion Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Leap Motion
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true
subnavjs: true

leapmotion_platform: true
---
-content_for :js_accordeon do
  :javascript
    $("#driver-panel").addClass("active-panel");
    $("#others li:nth-child(2)").addClass("active-link");
    $(".accordion-docs dt:nth-child(9) a:nth-child(2) img").addClass("rotate");

%section.intro
  =image_tag "/images/devices/leap_motion.jpg", class: "display"
  .info-intro
    %p
      Allows user to interact with Cylon.js devices using a Leap Motion controller. The Leap Motion uses its built in cameras to track the user's hand motions, and translations those to events that Cylon.js can use to trigger actions or control hardware.
    %p
      For more information click
      = link_to "here", "https://www.leapmotion.com/", target: "_blank"
  .clear
  
%section.how-to#HowToConnect
  %h2 How To Connect
  :markdown
        :::javascript
        Cylon = require('cylon');

        Cylon.robot({
          connection: {
            name: 'leapmotion',
            adaptor: 'leapmotion',
            port: '127.0.0.1:6437'
          },
          device: {
            name: 'leapmotion',
            driver: 'leapmotion'
          },
         ... 


%section.how-to#HowToUse
  %h2 How To Use
  %p Example receiving hand gesture events from a Leap Motion.
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: {
            name: 'leapmotion',
            adaptor: 'leapmotion',
            port: '127.0.0.1:6437'
          },

          device: {
            name: 'leapmotion',
            driver: 'leapmotion'
          },

          work: function(my) {
            my.leapmotion.on('hand', function(payload) {
              Logger.info(payload.toString());
            });
          }
        }).start();


%section.public-methods
  .commands-api#Commands
    %h1 Commands
    %p no commands
  .commands-api#Events
    = partial "/documentation/drivers/partials/leapmotion/events"

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "documentation/partials/devices_platforms"
