---
title: Cylon.js - Maxbotix Driver
author: The Hybrid Group
page_title: Maxbotix
page_subtitle: Driver
layout: documentation
page_title_show: true

arduino_platform: true
spark_platform: true
---

%section.intro
  =image_tag "/images/devices/maxbotix.jpg", class: "display"
  %p
    Provides tools to use maxbotix sonar (range finder).

%section.how-to
  %h2 How to stablish a connection and setup the driver
  %h3 JavaScript
  :markdown
        :::javascript
        coming soon
  %h3 CoffeeScript
  :markdown
        :::javascript
        coming soon

%section.public-methods
  %h2 Commands:
  %table.commands 
    %tr 
      %th Command (param)
      %th Description
    %tr 
      %td.command analogValue()
      %td.param  
        %p Returns the raw analog voltage being returned by the sonar.
        %h5 Returns 
        %span number
    %tr 
      %td.command range()
      %td.param  
        %p Returns the distance measured by the sonar in inches.
        %h5 Returns 
        %span number
    %tr 
      %td.command rangeCm()
      %td.param  
        %p Returns the distance measured by the sonar in cm.
        %h5 Returns 
        %span number

%section.public-events
  %h2 Events:
  %p
    The events will be triggered when the amount of time specified by the param :interval, when setting up the driver, passes.
  %table.commands 
    %tr 
      %th Event
      %th Description
    %tr 
      %td.command 
        %span start
      %td Sent when the device has been started and is ready to use.
    %tr 
      %td.command 
        %span stop
      %td Sent when the device has been stopped.


  %h3 How to use events and call them on your drivers
  %p Pretty simple, when the connection and the driver have been setup (as explained above) you can call events on them as follows:
  :markdown
        :::javascript
        comming soon

%section.how-to
  %h2 Examples
  :markdown
        :::javascript
        comming soon

%section.circuit
  %h2 Circuit and Schematic
  %p
    =link_to "http://www.electrojoystick.com/tutorial/?page_id=285", "http://www.electrojoystick.com/tutorial/?page_id=285"

%section.compatability.hardware
  %h2 Works with:
  =# TODO: Update platform list with all that work with this driver in Cylon.js.
  .devices
    = partial "documentation/partials/devices_platforms"


