---
title: Cylon.js - Maxbotix Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Maxbotix
page_subtitle_docs: Driver
layout: documentation
page_title_show: true
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
subnavjs: trues

arduino_platform: true
spark_platform: true
---
-content_for :js_accordeon do
  :javascript
    $("#driver-panel").addClass("active-panel");
    $("#gpio li:nth-child(8)").addClass("active-link");
    $(".accordion-docs dt:nth-child(9) a:nth-child(2) img").addClass("rotate");

%section.intro
  =image_tag "/images/devices/maxbotix.jpg", class: "display"
  .info-intro
    %p Provides tools to use maxbotix sonar (range finder), easy to use ultrasonic distance sensors that provide stable range readings. Our ultrasonic sensors have been designed into a wide range of solutions. 
    %p 
      For more information click
      = link_to "here.", "http://www.maxbotix.com/?gclid=CI7VpM791r0CFenm7AodOSoAjA", target: "_blank"
  .clear
  
%section.how-to#HowToConnect
  %h2 How To Connect
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' },
          device: { name: 'maxbotix', driver: 'maxbotix' },
        ...


%section.how-to#HowToUse
  %h2 How To Use
  %p 
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' },
          device: { name: 'maxbotix', driver: 'maxbotix' },

          work: function(my) {
            every((1).seconds(), function() {
              my.maxbotix.range(function(data) {
                Logger.info("range: " + data);
              });
            });
          }
        }).start();

%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/gpio/commands_maxbotix"
  .commands-api#Events
    = partial "/documentation/drivers/partials/gpio/events_maxbotix"

%section.circuit#Circuit
  %h2 Circuit
  .description-circuit
    %p  
  .image-circuit
    %img{:src => "/documentation/drivers/breadboards/gpio/maxbotix_bb.png", :alt => ""}/ 
  .clear 

%section.compatability.hardware#Compatability
  %h2 Compatibility
  =# TODO: Update platform list with all that work with this driver in Cylon.js.
  .devices
    = partial "documentation/partials/devices_platforms"


