---
title: Cylon.js - Maxbotix Driver
author: The Hybrid Group
page_title: Maxbotix
page_subtitle: Driver
layout: documentation
page_title_show: true
subnav_driver: true
subnav_circuit_driver: true

arduino_platform: true
spark_platform: true
---

%section.intro
  =image_tag "/images/devices/maxbotix.jpg", class: "display"
  .info-intro
    %p Provides tools to use maxbotix sonar (range finder).
  .clear
  
%section.how-to#HowToConnect
  %h2 How To Connect
  %h3 JavaScript
  :markdown
        :::javascript
        coming soon
  %h3 CoffeeScript
  :markdown
        :::ruby
        coming soon

%section.how-to#HowToUse
  %h3 How To Use
  %p Pretty simple, when the connection and the driver have been setup (as explained above) you can call events on them as follows:
  :markdown
        :::javascript
        comming soon

  %h2 Examples
  :markdown
        :::ruby
        comming soon

%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/gpio/commands_maxbotix"
  .commands-api#Events
    = partial "/documentation/drivers/partials/gpio/events_maxbotix"

%section.circuit#Circuit
  %h2 Circuit
  .description-circuit
    %p  
  .image-circuit
    %img{:src => "/documentation/drivers/breadboards/gpio/maxbotix_bb.png", :alt => ""}/ 
  .clear 

%section.compatability.hardware#Compatability
  %h2 Compatibility
  =# TODO: Update platform list with all that work with this driver in Cylon.js.
  .devices
    = partial "documentation/partials/devices_platforms"


