---
title: Cylon.js - Motor Driver
author: The Hybrid Group
page_title: Motor
page_subtitle: Driver
layout: documentation
page_title_show: true

arduino_platform: true
raspberry_platform: true
spark_platform: true
---

%section.intro
  =image_tag "/images/devices/motor.jpg", class: "display"
  %p
    Provides motor manipulation tools for Cylon.js like on/off, speed modulation using PWM,
    use of bidirectional motors using forward/backward pins.

%section.how-to
  %h2 How to establish a connection and setup the driver
  %h3 JavaScript
  :markdown
        :::javascript

        var Cylon = require('cylon');

        Cylon.robot({
          connection: {name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'},

          device: {name: 'motor', driver: 'motor', pin: 3},
          ...

  %h3 CoffeeScript
  :markdown
        :::javascript
        Cylon = require 'cylon'

        Cylon.robot
          connection:
            name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'

          device:
            name: 'motor', driver: 'motor', pin: 3
          ...

%section.public-methods
  %h2 Commands:
  %table.commands 
    %tr 
      %th Command (param)
      %th Description
    %tr 
      %td.command turnOn
      %td.param  
        %p Starts the motor.
        %h5 Params
        %span no params
        %h5 Returns 
        %span true | nil
    %tr 
      %td.command turnOff
      %td.param  
        %p Stops the motor.
        %h5 Params
        %span no params
        %h5 Returns 
        %span true | nil
    %tr 
      %td.command toggle
      %td.param  
        %p Sets the state of the motor to the oposite of the current state, if motor is on then sets it to off.
        %h5 Params
        %span no params
        %h5 Returns 
        %span true | nil
    %tr 
      %td.command speed(speed_value)
      %td.param  
        %p Sets the speed of the motor to the value provided in the speed param, speed value must be an integer between 0 and 255.
        %h5 Params
        %span  speed_value → integer_value
        The speed value for which to return data
        %h5 Returns 
        %span integer_value
    %tr 
      %td.command currentSpeed
      %td.param  
        %p Returns the current speed of the motor as an integer between 0 and 255.
        %h5 Params
        %span no params
        %h5 Returns 
        %span integer_value 

  %h2 Events
  %table.commands 
    %tr 
      %th Event
      %th Description
    %tr 
      %td.command 
        %span start
      %td Sent when the device has been started and is ready to use.

%section.how-to
  %h2 How to use
  %p
    This example turns on a DC motor using PWM.

  %h3 JavaScript
  :markdown
        :::javascript

        var Cylon = require('cylon');

        Cylon.robot({
          connection: {name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'},

          device: {name: 'motor', driver: 'motor', pin: 3},

          work: function(my) {
            my.motor.speed(100);

            after((5).seconds(), function(my) {
              my.motor.stop();
            });
          }
        }).start();

  %h3 CoffeeScript
  :markdown
        :::javascript
        Cylon = require 'cylon'

        Cylon.robot
          connection:
            name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'

          device:
            name: 'motor', driver: 'motor', pin: 3

          work: (my) ->
            my.motor.speed 100
            
            after 5.seconds(), ->
              my.motor.stop()

        .start()

  %h2 Circuit and Schematic
  %p
    =link_to "http://learn.adafruit.com/adafruit-arduino-lesson-13-dc-motors/breadboard-layout", "http://learn.adafruit.com/adafruit-arduino-lesson-13-dc-motors/breadboard-layout", target:"_blank" 

%section.compatability.hardware
  %h2 Works with:
  =# TODO: Update platform list with all that work with this driver in Cylon.js.
  .devices
    = partial "documentation/partials/devices_platforms"


