---
title: Cylon.js - Motor Driver
author: The Hybrid Group
page_title: Motor
page_subtitle: Driver
layout: page
---
.documentation
  %section.intro
    =image_tag "/images/motor.jpg", class: "display"
    %p
      Provides motor manipulation tools for artoo like on/off, speed modulation using PWM,
      use of bidirectional motors using forward/backward pins.

  %section.how-to
    %h2 How to stablish a connection and setup the driver
    %h3 For Arduino:
    :markdown
          :::ruby
          comming soon

    -#%h3 For Digispark:
    -#:markdown
          -#:::ruby

  %section.public-methods
    %h2 Public instance methods:

    %h3 stop → true | nil
    %p
      Stops the motor.

    %h3 start → true | nil
    %p
      Starts the motor.

    %h3 on? → true | false
    %p
      Returns true if the motor is on, otherwise returns false.

    %h3 off? → true | false
    %p
      Returns true if the motor is off, otherwise returns false.

    %h3 toggle → true | nil
    %p
      Sets the state of the motor to the oposite of the current state, if motor is on then sets it to off.

    %h3 speed(speed_value) → true | nil
    %p
      Sets the speed of the motor to the value provided in the speed param, speed value must be an integer between 0 and 255.

    %h3 min → true | nil
    %p
      Stops the motor, sets the speed to 0.

    %h3 max → true | nil
    %p
      Starts the motor at max speed, sets the speed to 255.

    %h3 forward(speed) → true | nil
    %p
      Starts the motor in forward direction at the provided speed.

    %h3 backward(speed) → true | nil
    %p
      Starts the motor in backward direction at the provided speed.

    %h3 forward? → true | false
    %p
      Returns true if the motor is direction is set to forward, otherwise false.

    %h3 backward? → true | false
    %p
      Returns true if the motor is direction is set to backward, otherwise false.

    %h3 current_speed → speed
    %p
      Returns the current speed of the motor as an integer between 0 and 255.

  %section.how-to
    %h2 How to use
    %h3 Example of a dc motor with speed changes using PWM.
    :markdown
          :::ruby
          comming soon

    %h2 Example of a dc motor with direction and speed change.
    :markdown
          :::ruby
          comming soon

    %h2 Circuit and Schematic
    %p
      =link_to "http://learn.adafruit.com/adafruit-arduino-lesson-13-dc-motors/breadboard-layout", "http://learn.adafruit.com/adafruit-arduino-lesson-13-dc-motors/breadboard-layout"

  %section.compatability.hardware
    %h2 Works with:
    =# TODO: Update platform list with all that work with this driver in artoo.
    .devices
      = partial "documentation/partials/arduino"
      =# partial "documentation/partials/beaglebone"
      =# partial "documentation/partials/digispark"
      =# partial "documentation/partials/raspberry-pi"

