---
title: Cylon.js - MPL115A2 Driver
author: The Hybrid Group
page_title: MPL115A2
page_subtitle: Driver
layout: documentation
page_title_show: true
subnav_driver: true
subnav_circuit_driver: true

arduino_platform: true
digispark_platform: true
raspberry_platform: true
---
%section.intro
  = image_tag "/images/devices/mpl115a2.jpg", class: "display"
  
  %p Used for measuring barometric pressure.
    
%section.how_to#HowToConnect
  %h2 How To Connect
  %h3 JavaScript
  :markdown
        :::javascript

        var Cylon = require('cylon');

        Cylon.robot({
          connection: {name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'},

          device: {name: 'mpl115a2', driver: 'mpl115a2', pin: 2},
          ...

  %h3 CoffeeScript
  :markdown
        :::javascript
        Cylon = require 'cylon'

        Cylon.robot
          connection:
            name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'

          device:
            name: 'mpl115a2', driver: 'mpl115a2', pin: 2
          ...


%section.how-to#HowToUse
  %h2 How To Use
  %p 

  %h3 JavaScript    
  :markdown
        :::javascript
        coming soon

  %h3 CoffeeScript
  :markdown
        :::javascript
        coming soon

%section.public-methods
  .commands_api#Commands
    =# partial "/documentation/drivers/partials/i2c/commands_mpl115a2"
  .commands_api#Events
    =# partial "/documentation/drivers/partials/i2c/events_mpl115a2"


%section.circuit#Circuit
  %h2 Circuit
  .description_circuit
    %p 
  .image_circuit 
    %img{:src => "/documentation/drivers/breadboards/i2c/mpl115a2_bb.png", :alt => ""}/ 
  .clear 

%section.compatability.hardware#Compatability
  %h2 Compatibility
  =# TODO: Update platform list with all that work with this driver in Cylon.js.
  .devices
    = partial "documentation/partials/devices_platforms"
    
