---
title: Cylon.js - Neurosky Mindwave Driver
author: The Hybrid Group
page_title: Neurosky Mindwave
page_subtitle: Driver
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true

neurosky_platform: true
---
%section.intro
  = image_tag "/images/devices/neurosky.jpg", class: "display"
  .info-intro
    %p
      The MindWave headset turns your computer into a brain activity monitor. The headset safely measures brainwave signals and monitors the attention levels of individuals as they interact with math, memory and pattern recognition applications. 
    %p
      For more information click
      = link_to "here", "http://store.neurosky.com/products/mindwave-mobile", target: "_blank"
    
  .clear
  
%section.how_to#HowToConnect
  %h2 How To Connect
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'neurosky', adaptor: 'neurosky' },
          device: {name: 'neurosky', driver: 'neurosky'},
        ....

          
%section.how-to#HowToUse
  %h2 How To Use
  %p This small program use the Neurosky with the attention-meditation.
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection:
            {name: 'neurosky', adaptor: 'neurosky', port: '/dev/rfcomm0'},

          device:
            {name: 'headset', driver: 'neurosky'},

          work: function(my) {
            my.headset.on('attention', function(data) {
              Logger.info("attention:" + data);
            });
            my.headset.on('meditation', function(data) {
              Logger.info("meditation:" + data);
            });
          }
        });

        Cylon.start();


%section.public-methods
  .commands-api#Commands
    %h1 Commands
    %p no commands
  .commands-api#Events
    = partial "/documentation/drivers/partials/neurosky/events"
  
    
%section.compatibility.hardware#Compatability
  %h2 Compatibility
  =# TODO: Update platform list with all that work with this driver in Cylon.js.
  .devices
    = partial "documentation/partials/devices_platforms"
