---
title: Cylon.js - Pebble Driver
author: The Hybrid Group
page_title: Pebble
page_subtitle: Driver
layout: documentation
page_title_show: true

pebble_platform: true
---

%section.intro
  =image_tag "/images/devices/pebble.jpg", class: "display"
  %p
    Allows user to interact with Cylon.js devices using a Pebble smart watch.

%section.how-to
  %h2 How to establish a connection and setup the driver
  %h3 JavaScript
  :markdown
        :::javascript
        Cylon = require('cylon');

        robot = {
          connection: {
            name: 'pebble',
            adaptor: 'pebble'
          },
          device: {
            name: 'pebble',
            driver: 'pebble'
          },
  %h3 CoffeeScript
  :markdown
        :::javascript
        Cylon = require('cylon')

        robot = 
          connection:
            name: 'pebble', adaptor: 'pebble'

          device:
            name: 'pebble', driver: 'pebble'
        ...
%section.public-methods

  %h2 Commands
  %table.commands 
    %tr 
      %th Command (param)
      %th Description
    %tr 
      %td.command message
      %td.param  
        %p We need some more complete documentation here. Please help us out with your pull request!
        %span message → 
        %h5 Returns 
        %span 
    %tr 
      %td.command message_queue
      %td.param  
        %p We need some more complete documentation here. Please help us out with your pull request!
        %span message_queue → 
        %h5 Returns 
        %span 
    %tr 
      %td.command last_message
      %td.param  
        %p We need some more complete documentation here. Please help us out with your pull request!
        %span last_message → 
        %h5 Returns 
        %span 

  %h2 Events
  %table.commands 
    %tr 
      %th Event
      %th Description
    %tr 
      %td.command 
        %span stop
      %td Stop the driver.
    %tr 
      %td.command 
        %span start
      %td Sent when the device has been started and is ready to use.

%section.how-to
  %h2 How to use
  %h3 Example receiving message queue from a Pebble smart watch.
  %h3 JavaScript
  :markdown
        :::javascript
        Cylon = require('cylon');

        Cylon.api({
          host: '0.0.0.0',
          port: '8080'
        });

        PebbleRobot = (function() {

          function PebbleRobot() {}

          PebbleRobot.prototype.connection = {
            name: 'pebble',
            adaptor: 'pebble'
          };

          PebbleRobot.prototype.device = {
            name: 'pebble',
            driver: 'pebble'
          };

          PebbleRobot.prototype.work = function(self) {
            var c;
            c = 100;
            return every(1..second(), function() {
              var str;
              c++;
              str = "c: " + c;
              self.pebble.message_queue().push(str);
              return console.log(self.pebble.last_message());
            });
          };

          return PebbleRobot;

        })();

        bot = new PebbleRobot();

        bot.name = 'pebble';

        Cylon.robot(bot);

        Cylon.start();

  %h3 CoffeeScript
  :markdown
        :::javascript
        Cylon = require('cylon')

        Cylon.api host: '0.0.0.0', port: '8080'

        class PebbleRobot
          connection:
            name: 'pebble', adaptor: 'pebble'

          device:
            name: 'pebble', driver: 'pebble'

          work: (self) ->
            c = 100
            every 1.second(), ->
              c++
              str = "c: \#{c}"
              self.pebble.message_queue().push(str)
              console.log(self.pebble.last_message())

        bot = new PebbleRobot()
        bot.name = 'pebble'
        Cylon.robot bot

        Cylon.start()


%section.compatability.hardware
  %h2 Works with:
  .devices
    = partial "documentation/partials/devices_platforms"
