---
title: Cylon.js - PS3 Controller Driver
author: The Hybrid Group
page_title: PS3 Controller
page_subtitle: Driver
layout: documentation
page_title_show: true

joystick_platform: true
---

%section.intro
  =image_tag "/images/devices/ps3.jpg", class: "display"
  %p
    Allows user to interact with Cylon.js devices using a PS3 game controller.

%section.how-to
  %h2 How to establish a connection and setup the driver
  :markdown
        :::javascript
        require 'Cylon.js'
        connection :joystick, :adaptor => :joystick
        device :controller, :driver => :ps3, :connection => :joystick, :interval => 0.1

%section.public-events
  %h3 How to use events and call them on your drivers
  %p Pretty simple, when the connection and the driver have been setup (as explained above) you can call events on them as follows:
  :markdown
        :::javascript
        ...

%section.how-to
  %h2 How to use
  %h3 Example receiving button events from PS3 controller joystick.
  :markdown
        :::javascript
        ...

%section.public-methods
  .commands_api
    = partial "/documentation/drivers/partials/joystick/commands_ps3"
  .commands_api
    = partial "/documentation/drivers/partials/joystick/events_ps3"

%section.compatability.hardware
  %h2 Works with:
  .devices
    = partial "documentation/partials/devices_platforms"
