---
title: Cylon.js - Roomba Driver
author: The Hybrid Group
page_title: Roomba
page_subtitle: Driver
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true

roomba_platform: true
---

%section.intro
  =image_tag "/images/devices/roomba.jpg", class: "display"
  .info-intro  
    %p Allows user to control a Roomba iRobot Create using Cylon.js.
  .clear
  
%section.how-to
  %h2 How to establish a connection and setup the driver
  :markdown
        :::javascript
        ...

%section.how-to
  %h2 How to use
  %h3 Example controlling a Roomba.
  :markdown
        :::javascript
        ...

%section.public-methods
  .commands-api
    = #partial "/documentation/drivers/partials/roomba/commands"
  .commands-api
    = #partial "/documentation/drivers/partials/roomba/events"

%section.compatability.hardware
  %h2 Works with:
  .devices
    = partial "documentation/partials/devices_platforms"
