---
title: Cylon.js - Servo Driver
author: The Hybrid Group
page_title: Servo
page_subtitle: Driver
layout: page
---
.documentation
  %section.intro
    = image_tag "/images/servo.jpg", class: "display"
    %p
      Provides an interface for making servos easy to work and interact with from Artoo.

  %section.how-to
    %h2 How to stablish a connection and setup the driver
    %h3 For Arduino:
    :markdown
          :::ruby
          comming soon

    -#%h3 For Digispark:
    -#:markdown
          -#:::ruby

  %section.public-methods
    %h2 Public instance methods:

    %h3 move(angle) → true | nil
    %p
      Moves the servo to the specified angle, angle must be an integer value between 0 and 180.

    %h3 min
    %p
      Moves the servo to the angle = 0 position.

    %h3 max
    %p
      Moves the servo to the angle = 180 position.

    %h3 center
    %p
      Moves the servo to the angle = 90 position.

    %h3 current_angle → integer_value (0 - 180)
    %p
      Returns the current angle of the servo, an integer value between 0 and 180.

  %section.how-to
    %h2 How to use
    %h3 Example moves a servo from angle 0 to 90 to 180.
    :markdown
          :::ruby
          comming soon

  %section.circuit
    %h2 Circuit and Schematic
    %p
      =link_to "http://arduino.cc/en/Tutorial/Sweep", "http://arduino.cc/en/Tutorial/Sweep"

  %section.compatability.hardware
    %h2 Works with:
    =# TODO: Update platform list with all that work with this driver in artoo.
    .devices
      = partial "documentation/partials/arduino"
      = #partial "documentation/partials/digispark"


