---
title: Cylon.js - Sphero Driver
author: The Hybrid Group
page_title: Sphero
page_subtitle: Driver
layout: page
---
.documentation
  %section.intro
    =image_tag "/images/sphero.jpg", class: "display"
    %p
      Allows user to interact with the Sphero robotic sphero using Artoo.

  %section.how-to
    %h2 How to establish a connection and setup the driver
    %p
      That is pretty simple once the Sphero is ready (connected and listening), you just need three lines of code and you are set,
      Artoo and the Sphero driver take care of the rest.
    :markdown
          :::ruby
          Cylon = require('..')

          Cylon.robot
            connection:
              name: 'sphero', adaptor: 'sphero', port: '/dev/rfcomm0'

            device:
              name: 'sphero', driver: 'sphero'

  %section.public-methods
    %h2 Commands:

    %h3 roll(speed, direction)
    %p
      Starts the sphero rolling at the provided speed (value between 0 and 255) and direction (value between 0 and 360).
    
    %h3 setRGB(color, persist)
    %p
      Coming soon

    %h3 detectCollisions
    %p REVISION PENDING: Sets the sphero to detect collisions and report them.

    %h3 stop
    %p Stops the sphero.

  %section.public-events
    %h2 Events:
    %ul 
      %li 
        %h3 update
        %small 
          This event will contain one of the following events.
          %br/  
          You can also subscribe to one of the specific events, if that is the information you are interested in.
      %li
        %h3 collision
        %p Gets triggered when the sphero hits something or falls from a step.
      %li
        %h3 messages
        %p coming soon
      %li 
        %h3 notifications
        %p coming soon
      %li 
        %h3 connect
        %p coming soon

      %li 
        %h3 start
        %p Sent when the device has been started and is ready to use.  

    -#%h3 How to use events and call them on your drivers
    -#%p
      -#Pretty simple, when the connection and the driver have been setup (as explained above)
      -#you can call events on the sphero driver as follows:
    -#:markdown
          -#:::ruby

  -#%section.how-to
    -#%h2 How to use
    -#%h3 Example to roll the sphero in a random direction and change direction every 3 seconds.
    -#:markdown
          -#:::ruby

  %section.compatability.hardware
    %h2 Works with:
    =# TODO: Update platform list with all that work with this driver in artoo.
    .devices
      = partial "documentation/partials/sphero"
