---
title: Cylon.js - XBox360 Controller Driver
author: The Hybrid Group
page_title: XBox360 Controller
page_subtitle: Driver
layout: documentation
page_title_show: true
subnav_driver: true
active_menu_docs: true

joystick_platform: true
---
%section.intro
  =image_tag "/images/devices/xbox360.jpg", class: "display"
  .info-intro
    %p Allows user to interact with Cylon.js devices using a XBox360 game controller.

    %p
      For more information click
      = link_to "here", "http://en.wikipedia.org/wiki/Joystick", target: "_blank"
  .clear
  
%section.how-to#HowToConnect
  %h2 How To Connect
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'joystick', adaptor: 'joystick' },
          device: {name: 'joystick', driver: 'xbox360'}
        ..


%section.how-to#HowToUse
  %h2 How To Use
  %p Example receiving button events from XBox360 controller joystick.
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'joystick', adaptor: 'joystick' },
          device: {name: 'joystick', driver: 'xbox360'},

          work: function(my) {
            my.joystick.on("left:move", function(position) { 
              console.log(position);
            });
          }
        }).start();

%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/joystick/commands_xbox360"
  .commands-api#Events
    = partial "/documentation/drivers/partials/joystick/events_xbox360"

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    = partial "documentation/partials/devices_platforms"
