---
title: Cylon.js - XBox360 Controller Driver
author: The Hybrid Group
page_title: XBox360 Controller
page_subtitle: Driver
layout: documentation
page_title_show: true

joystick_platform: true
---
%section.intro
  =image_tag "/images/devices/xbox360.jpg", class: "display"
  %p Allows user to interact with Cylon.js devices using a XBox360 game controller.

  %section.how-to
    %h2 How to establish a connection and setup the driver
    %h3 JavaScript
    :markdown
          :::javascript
          var Cylon = require('cylon');

          Cylon.robot({
            connection: { name: 'joystick', adaptor: 'joystick' },
            device: {name: 'joystick', driver: 'xbox360'}
          ..

    %h3 CoffeeScript
    :markdown
          :::javascript
          Cylon = require 'cylon'

          Cylon.robot
            connection:
              name: 'joystick', adaptor: 'joystick'

            device:
              name: 'joystick', driver: 'xbox360'
          ...

  %section.public-methods
    %h2 Events:
    %table.commands 
      %tr 
        %th Event
        %th Description
      %tr 
        %td.command 
          %span dupbutton:press
        %td Gets triggered every interval amount of time if the dup button is pressed.
      %tr 
        %td.command 
          %span ddown:press
        %td Gets triggered every interval amount of time if the ddown button is pressed.
      %tr 
        %td.command 
          %span dleft:press
        %td Gets triggered every interval amount of time if the dleft button is pressed.
      %tr 
        %td.command 
          %span dright:press
        %td Gets triggered every interval amount of time if the dright button is pressed.
      %tr 
        %td.command 
          %span xboxbutton:press
        %td Gets triggered every interval amount of time if the xboxbutton button is pressed.
      %tr 
        %td.command 
          %span start:press
        %td Gets triggered every interval amount of time if the start button is pressed.
      %tr 
        %td.command 
          %span back:press
        %td Gets triggered every interval amount of time if the back button is pressed.
      %tr 
        %td.command 
          %span leftstick:press
        %td Gets triggered every interval amount of time if the leftstick button is pressed.
      %tr 
        %td.command 
          %span rightstick:press
        %td Gets triggered every interval amount of time if the rightstick button is pressed.
      %tr 
        %td.command 
          %span leftshoulder:press
        %td Gets triggered every interval amount of time if the leftshoulder button is pressed.
      %tr 
        %td.command 
          %span rightshoulder:press
        %td Gets triggered every interval amount of time if the rightshoulder button is pressed.
      %tr 
        %td.command 
          %span a:press
        %td Gets triggered every interval amount of time if the a button is pressed.
      %tr 
        %td.command 
          %span b:press
        %td Gets triggered every interval amount of time if the b button is pressed.
      %tr 
        %td.command 
          %span x:press
        %td Gets triggered every interval amount of time if the x button is pressed.
      %tr 
        %td.command 
          %span y:press
        %td Gets triggered every interval amount of time if the y button is pressed.
      %tr 
        %td.command 
          %span dupbutton:release
        %td Gets triggered every interval amount of time if the dupbutton button is released.
      %tr 
        %td.command 
          %span ddown:release
        %td Gets triggered every interval amount of time if the ddown button is released.
      %tr 
        %td.command 
          %span dleft:release
        %td Gets triggered every interval amount of time if the dleft button is released.
      %tr 
        %td.command 
          %span dright:release
        %td Gets triggered every interval amount of time if the dright button is released.
      %tr 
        %td.command 
          %span xboxbutton:release
        %td Gets triggered every interval amount of time if the xboxbutton button is released.
      %tr 
        %td.command 
          %span start:release
        %td Gets triggered every interval amount of time if the start button is released.
      %tr 
        %td.command 
          %span back:release
        %td Gets triggered every interval amount of time if the back button is released.
      %tr 
        %td.command 
          %span leftstick:release
        %td Gets triggered every interval amount of time if the leftstick button is released.
      %tr 
        %td.command 
          %span rightstick:release
        %td Gets triggered every interval amount of time if the rightstick button is released.
      %tr 
        %td.command 
          %span leftshoulder:release
        %td Gets triggered every interval amount of time if the leftshoulder button is released.
      %tr 
        %td.command 
          %span rightshoulder:release
        %td Gets triggered every interval amount of time if the rightshoulder button is released.
      %tr 
        %td.command 
          %span a:release
        %td Gets triggered every interval amount of time if the a button is released.
      %tr 
        %td.command 
          %span b:release
        %td Gets triggered every interval amount of time if the b button is released.
      %tr 
        %td.command 
          %span x:release
        %td Gets triggered every interval amount of time if the x button is released.
      %tr 
        %td.command 
          %span y:release
        %td Gets triggered every interval amount of time if the y button is released.
      %tr 
        %td.command 
          %span lefttrigger
        %td Left trigger emits the current amount pressed, from 0-250.
      %tr 
        %td.command 
          %span righttrigger
        %td Right trigger emits the current amount pressed, from 0-250.
      %tr 
        %td.command 
          %span left:move
        %td Gets triggered every left movement.
      %tr 
        %td.command 
          %span right:move
        %td Gets triggered every right movement.
      %tr 
        %td.command 
          %span start
        %td Sent when the device has been started and is ready to use.

    -#%h3 How to use events and call them on your drivers
    -#%p Pretty simple, when the connection and the driver have been setup (as explained above) you can call events on them as follows:
    
  %section.how-to
    %h2 How to use
    %p Example receiving button events from XBox360 controller joystick.
    %h3 JavaScript
    :markdown
          :::javascript
          var Cylon = require('cylon');

          Cylon.robot({
            connection: { name: 'joystick', adaptor: 'joystick' },
            device: {name: 'joystick', driver: 'xbox360'},

            work: function(my) {
              my.joystick.on("left:move", function(position) { 
                console.log(position);
              });
            }
          }).start();

    %h3 CoffeeScript
    :markdown
          :::javascript
          Cylon = require 'cylon'

          Cylon.robot
            connection:
              name: 'joystick', adaptor: 'joystick'

            device:
              name: 'joystick', driver: 'xbox360'

            work: (my) ->
              my.joystick.on "left:move", (position) ->
                console.log position

          .start()

%section.compatability.hardware
  %h2 Works with:
  .devices
    = partial "documentation/partials/devices_platforms"
