---
title: Crazyflie with Cylon.js
author: The Hybrid Group
page_title: Crazyflie
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-crazyflie' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/cylon-crazyflie/issues'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true

crazyflie_flight_driver: true

---

%section.intro
  = image_tag "/images/devices/crazyflie.jpg", class: "display"
  .info-intro
    %p You can use Cylon.js with the Crazyflie micro-quadcopter.

    %p 
      This module provides an adaptor and drivers for the Crazyflie nanocopter 
      =link_to "(http://www.bitcraze.se/)", "http://www.bitcraze.se/", target: :_blank 
      \. It uses the Aerogel node module 
      =link_to "(https://github.com/ceejbot/aerogel)", "https://github.com/ceejbot/aerogel", target: :_blank 
      created by @ceejbot thank you!
  .clear

%section.how_to#HowToInstall
  %h2 How To Install
  %p Install the module with:
  :markdown
        :::bash
        npm install cylon-crazyflie

  %p 
    You will also need to install the latest beta of firmware to the Crazyflie itself to use the 'hover' mode from 
    =link_to "https://bitbucket.org/bitcraze/crazyflie-firmware/downloads/Crazyflie_2013.11-beta1.bin", "https://bitbucket.org/bitcraze/crazyflie-firmware/downloads/Crazyflie_2013.11-beta1.bin", target: :blank

  %h3 Ubuntu

  %p
    On Ubuntu, you will need to run:

  :markdown
        :::bash
        sudo apt-get install build-essential pkg-config libusb-1.0-0-dev

  %p
    before you will be able to run `npm install cylon-crazyflie'

%section.how-to#HowToUse
  %h2 How To Use
  %p This small program causes the Crazyflie to takeoff for 10 seconds.
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'crazyflie', adaptor: 'crazyflie', port: 'radio://1/10/250KPS' },
          device: {name: 'drone', driver: 'crazyflie'},

          work: function(my) {
            my.drone.on('start', function() {
              my.drone.takeoff();
              after((10).seconds(), function() { 
                my.drone.land();
              });
              after((15).seconds(), function() { 
                my.drone.stop();
              });
            });
          }
        }).start();

  %h2 Hover Mode
  :markdown
        :::javascript
        my.drone.setParam('flightmode.althold', true);

  %h2 How to connect
  %p
    The Crazyflie uses a 2.4 GHz radio to communicate. There is a
    USB dongle called the Crazyradio that is required to control the Crazyflie quadcopter.
  %p
    If you are have a USB 3.0 port, you might run into this issue
    %br
    %a{ href: "http://stackoverflow.com/questions/17204253/crazyflie-usb-3-0-incompability"} http://stackoverflow.com/questions/17204253/crazyflie-usb-3-0-incompability

  

%section.drivers#Drivers
  %h2 Drivers
  %p There is currently only one driver for the Crazyflie, as listed below.

  .hardware
    .devices
      // TODO: Update drivers list at the top of the page.
      = partial "documentation/partials/devices_crazyflie_drivers"
