---
title: Keyboard with Cylon.js
author: The Hybrid Group
page_title: Keyboard
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-keyboard' target='blanck' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/cylon-keyboard/issues' target='blanck'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true

keyboard_driver: true
---

%section.intro
  = image_tag "/images/devices/keyboard.jpg", class: "display"
  .info-intro
    %p A keyboard is a typewriter-style device, which uses an arrangement of buttons or keys, to act as mechanical levers or electronic switches. Following the decline of punch cards and paper tape, interaction via teleprinter-style keyboards became the main input device for computers.
    %p The Cylon adaptor for keyboard input.
    %p
      For more info about the Joystick platform click
      = succeed "." do
        = link_to "here", "http://en.wikipedia.org/wiki/Computer_keyboard", target: :blank

  .clear
  
%section.how-to#HowToInstall
  %h2 How To Install
  %p Installing cylon.js with a keyboard support is pretty easy.
  :markdown
        :::javascript
        npm install cylon-keyboard


%section.how-to#HowToUse
  %h2 How To Use
  
  %h3 Javascript
  
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'keyboard', adaptor: 'keyboard' },
          device: {name: 'keyboard', driver: 'keyboard'},

          work: function(my) {
            my.keyboard.on('a', function(key) { 
              console.log("A PRESSED!");
            });
          }
        }).start();
  
  %h3 CoffeeScript

  :markdown
        :::ruby
        Cylon = require 'cylon'

        Cylon.robot
          device: { name: 'keyboard', driver: 'keyboard' }
          connection: { name: 'keyboard', adaptor: 'keyboard' }
          work: (my) ->
            my.keyboard.on 'a', (key) ->
              console.log "A PRESSED!"

        .start()

%section.drivers#Drivers
  %h2 Drivers
  %p Available drivers for the keyboard platform are listed below. 

  .hardware
    .devices
      = partial "documentation/partials/devices_keyboard_drivers"
      
