---
title: Pebble with Cylon.js
author: The Hybrid Group
page_title: Pebble
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-pebble' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/cylon-pebble/issues'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true

pebble_driver: true
---

%section.intro
  = image_tag "/images/devices/pebble.jpg", class: "display"
  .info-intro
    %p The Pebble is a smart watch, that connects via bluetooth.

    %p Pebble puts critical apps and notifications on your wrist, giving you immediate access to what's most important.

    %p
      For more info about the Pebble platform click
      = succeed "." do
        = link_to "here", "http://getpebble.com/", target: :blank
  .clear
  
%section.how-to#HowToInstall
  %h2 How To Install
  %p
    Installing Cylon.js with pebble support is pretty easy.

  :markdown
        :::bash
        npm install cylon-pebble

%section.how-to#HowToUse
  %h2 How To Use
  %p This small program receives message queue events from a Pebble smart watch.
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.api({
          host: '0.0.0.0',
          port: '8080',
          ssl:  false
        });

        pebbleRobot = {
          name: 'pebble',

          connection: {
            name: 'pebble',
            adaptor: 'pebble'
          },

          device: {
            name: 'pebble',
            driver: 'pebble'
          },

          work: function(my) {
            my.pebble.send_notification("Hello Pebble!");

            my.pebble.on('button', function(data) {
              console.log("Button pushed: " + data);
            });
          }

        }

        Cylon.robot(pebbleRobot);
        Cylon.start();


%section.how-to#HowToConnect
  %h2 How To Connect
  %p This software requires version 1.12.0 of the Pebble watch firmware.

  %h3 OSX

  %p The main steps are:

  %ul
    %li Pair your computer and the Pebble
    %li Use a socket to serial connection to map a TCP socket to the local port
    %li Connect to the device via Cylon.js
    -#%li To figure out which port your pebble is connected to, use the Cylon.js connect scan command:

  -#:markdown
        -#:::bash
        -#$ Cylon.js connect scan

  -#%p Now you are ready to connect to the Sphero using the socket, in this example port 4567:

  -#:markdown
        -#:::bash
        -#Cylon.js connect serial 4567 pebble

  %h3 Ubuntu

  %p The main steps are:

  %ul
    %li Pair your computer and the Pebble
    %li Map your device to a port
    %li Use a socket to serial connection to map a TCP socket to the local port
    %li Connect to the device via Cylon.js
    %li You will need to pair with the Pebble, entering any needed password.

  -#%p Then you can find the Bluetooth address, for example 00:18:33:86:37:8B, by using the Cylon.js connect scan command:

  -#:markdown
        -#:::bash
        -#$ Cylon.js connect scan

  -#%p Once you know the address, you can use the Cylon.js connect bind command to map a port to the device:

  -#:markdown
        -#:::bash
        -#Cylon.js connect bind 00:18:33:86:37:8B pebble

  -#%p Now you are ready to connect to the Pebble using a socket, in this example port 4567:

  -#:markdown
        -#:::bash
        -#Cylon.js connect socat pebble 4567

%section.drivers#Drivers
  %h2 Drivers
  %p There is only one driver for the Pebble platform, as listed below.

  .hardware
    .devices
      // TODO: Update drivers list at the top of the page.
      = partial "documentation/partials/devices_pebble_drivers"
