---
title: Rapiro with Cylon.js
author: The Hybrid Group
page_title: Rapiro
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-rapiro' target='blank' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/cylon-rapiro/issues' target='blank' >Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true

rapiro_driver: true

---

%section.intro
  =image_tag "/images/devices/rapiro.jpg", class: "display"
  .info_intro
    %h4 What is Rapiro?
    %p RAPIRO is a cute and affordable robot kit designed to work with a Raspberry Pi. It comes with a Arduino-compatible servo controller.

    %h4 Where can I get a Rapiro or find more info about it?
    %p
      Go to the Rapiro web site at
      = link_to "http://www.rapiro.com/.", "http://www.rapiro.com/"
  .clear
  
%section.how-to#HowToInstall
  %h2 How To Install
  %p Installing cylon.js with Rapiro support is easy.
  :markdown
        :::bash
        npm install cylon-rapiro

%section.how-to#HowToUse
  %h2 How To Use
  %p Example of a simple program that makes the Rapiro's LED blink.

  %h3 JavaScript
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'rapiro', adaptor: 'rapiro', port: '/dev/ttyUSB0' },
          device: {name: 'rapiro', driver: 'rapiro'},

          work: function(my) {
            var on = false;
            every((1).second(), function() {
              if (on == true) {
                my.rapiro.led(0, 0, 0);
                on = false;
              } else {
                my.rapiro.led(255, 0, 0);
                on = true;
              }
            });
          }

  %h3 CoffeeScript
  :markdown
        :::ruby
        Cylon = require 'cylon'

        Cylon.robot
          connection: { name: 'rapiro', adaptor: 'rapiro', port: '/dev/ttyUSB0' }
          device: {name: 'rapiro', driver: 'rapiro'}

          work: (my) ->
            on = false
            every 1.second(), ->
              if on is true
                my.rapiro.led(0, 0, 0)
                on = false
              else
                my.rapiro.led(255, 0, 0)
                on = true

        .start();

%section.how-to#HowToConnect
  %h2 How To Connect
  %p If you are connected from a Raspberry Pi to the Rapiro board, it will appear as serial port `/dev/ttyACM0`. You can find out by running the `cylon scan serial` command.


%section.drivers#Drivers
  %h2 Drivers
  %p There is only one driver for the Rapiro.

  .hardware
    .devices
      // TODO: Update drivers list at the top of the page.
      = partial "documentation/partials/devices_rapiro_drivers"
