---
title: Sphero with Cylon.js
author: The Hybrid Group
page_title: Sphero
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-sphero' target='_blank' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/cylon-sphero/issues' target='_blank' >Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true

sphero_driver: true

---

%section.intro
  =image_tag "/images/devices/sphero.jpg", class: "display"
  .info-intro
    %h4 What is Sphero?
    %p Sphero is a sophisticated and programmable robot housed in a polycarbonate sphere shell.
    %p The cylon-sphero adaptor makes it easy to interact with Sphero using Node.js, once you have your Sphero setup and connected to your computer you can start writing code to make Sphero move, change direction, speed and colors, or detect Sphero events and execute some code when they occur.

    %h4 Where can I get a Sphero or find more info about it?
    %p
      Go to the Orbotix web site at 
      = link_to "http://www.gosphero.com/", "http://www.gosphero.com/", :target => '_blank'
  .clear
  
%section.how-to#HowToInstall
  %h2 How To Install
  %p Installing cylon.js with sphero support is pretty easy.
  :markdown
        :::bash
        npm install cylon-sphero

%section.how-to#HowToUse
  %h2 How To Use
  %p Example of a simple program that makes the Sphero roll.

  %h3 JavaScript
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'sphero', adaptor: 'sphero', port: '/dev/rfcomm0' },
          device: {name: 'sphero', driver: 'sphero'},

          work: function(my) {
            every((1).second(), function() { 
              my.sphero.roll(60, Math.floor(Math.random() * 360));
            });
          }
        }).start();

  %h3 CoffeeScript
  :markdown
        :::ruby
        Cylon = require('cylon')

        Cylon.robot
          connection:
            name: 'sphero', adaptor: 'sphero', port: '/dev/rfcomm0'

          device:
            name: 'sphero', driver: 'sphero'

          work: (my) ->
            every 1.second(), ->
              my.sphero.roll 60, Math.floor(Math.random() * 360)

        .start()

%section.how-to#HowToConnect
  %h2 How To Connect
  %h3 OSX

  %p In order to allow Cylon.js running on your Mac to access the Sphero, go to "Bluetooth > Open Bluetooth Preferences > Sharing Setup" and make sure that "Bluetooth Sharing" is checked.

  %p 
    Thank you to 
    = link_to "@kopipejst", "https://github.com/kopipejst", :target => '_blank' 
    for the above connnection info.

  %h3 Ubuntu

  %p Connecting to the Sphero from Ubuntu or any other Linux-based OS can be done entirely from the command line. Here are the steps:

  %p Find the address of the Sphero, by using:
  :markdown
        :::bash
        cylon bluetooth scan

  %p Pair to Sphero using this command (substituting the actual address of your Sphero):
  :markdown
        :::bash
        cylon bluetooth pair <address>

  %p Connect to the Sphero using this command (substituting the actual address of your Sphero):
  :markdown
        :::bash
        cylon bluetooth connect <address>

  %h3 Windows

  %p You should be able to simply pair your Sphero using your normal system tray applet for Bluetooth, and then connect to the COM port that is bound to the device, such as `COM3`.

  %h2 How To Calibrate Sphero
  
  %p You might want to calibrate the orientation of the Sphero so that it is pointed 'forward'. There are 2 functions that have been added to the Sphero driver to help with this.

  %p Call `startCalibration()` to put the Sphero into 'calibration mode' by turning on the tail LED and turning off the auto-stablization. You can now manually turn the Sphero to so the tail LED is pointed to the rear of the direction in which you want the Sphero to go.

  %p Call `finishCalibration()` to turn off 'calibration mode' by turning off the tail LED and turning back on the auto-stablization. Whichever direction that the tail LED was pointed, is now the rear direction for the Sphero.

%section.drivers#Drivers
  %h2 Drivers
  %p There is only one driver for the Sphero. Click on the image below: 

  .hardware
    .devices
      // TODO: Update drivers list at the top of the page.
      = partial "documentation/partials/devices_sphero_drivers"
