:markdown
  # Commands

  ## digitalRead(callback)

  Returns an integer value that represents the digital read from the pin.

  ##### Data

  - **callback** -  to be executed upon reading the pin state.

  ##### Returns  

  `null`

  ## digitalWrite()

  Writes a ON/OFF using digital write to a pin.

  ##### Returns  

  `null`

  ## analogRead(callback)

  Returns an integer value that represents the analog read from the pin.

  ##### Data

  - **callback** -  to be executed upon reading the pin state.

  ##### Returns  

  `null`

  ## analogWrite()

  Writes a value using analog write to a pin.

  ##### Returns  

  `null`

  ## pwmWrite(callback)

  Writes a value using Pulse Width Modulation (PWM) to a pin.

  ##### Data

  - **callback** -  PWM value.

  ##### Returns  

  `null`

  ## servoWrite(angle)

  Writes a value using an angle to a pin.

  ##### Data

  - **angle** -  angle value.

  ##### Returns  

  `null`