:markdown
  # Commands

  ## clockwise()

  Public: Turns the servo to go clockwise, if the driver is continuous.

  Returns true | nil.

  ## counterClockwise()

  Public: Turns the servo to go counter clockwise, if the driver is continuous.

  Returns true | nil.

  ## stop()

  Public: Stops the driver.

  Returns nil.

