:markdown
  # Commands

  ## analogValue()

  Text here.

  ##### Returns 

  `integer`

  ## range()

  Returns the distance measured by the sonar in inches.

  ##### Returns 

  `integer`

  ## rangeCm()

  Returns the distance measured by the sonar in cm.

  ##### Returns 

  `integer`