:markdown
  # Commands

  ## turnOn()

  Starts the motor.

  ##### Returns 

  `true or nil`

  ## turnOff()

  Stops the motor.

  ##### Returns 

  `true or nil`

  ## toggle()

  Sets the state of the motor to the oposite of the current state, if motor is on then sets it to off.

  ##### Returns 

  `true or nil`

  ## speed(speed_value)

  Sets the speed of the motor to the value provided in the speed param, speed value must be an integer between `0` and `255`.

  ##### Params

  - **speed_value** -  The speed value for which to return data

  ##### Returns 

  `integer`

  ## currentSpeed()

  Returns the current speed of the motor as an integer between 0 and 255.

  ##### Returns 

  `integer`
