:markdown
  # Commands

  ## analogValue()

  Public: Text here.

  Returns integer_value.

  ## range()

  Public: Returns the distance measured by the sonar in inches.

  Returns integer_value.

  ## rangeCm()

  Public: Returns the distance measured by the sonar in cm.

  Returns integer_value.