:markdown
  # Commands

  ## clockwise()

  Turns the servo to go clockwise, if the driver is continuous.

  ##### Returns  

  `true or nil`

  ## counterClockwise()

  Turns the servo to go counter clockwise, if the driver is continuous.

  ##### Returns  

  `true or nil`

  ## stop()

  Stops the driver.

  ##### Returns  

  `nil`

