:markdown
  # Commands

  ## angle()

  Public: Moves the servo to the specified angle, angle must be an integer value between 0 and 180.

  Returns integer_value (between 0 and 180).

  ## currentAngle()

  Public: Returns the current angle of the servo, an integer value between 0 and 180.

  Returns integer_value (between 0 and 180).