:markdown
  # Commands

  ## turnOn()

  Turns LED on.

  ##### Returns  

  `true or false`

  ## turnOff()

  Turns LED off.

  ##### Returns  

  `true or false`

  ## toggle()

  Turns the LED on, or off, depending on if it is already off, or on, respectively.

  ##### Returns  

  `on or off`

  ## brightness(brightness_int)

  Sets brightness of the led to the specified brightness value passed to brightness(brightness_int) using PWM, brightness can be any integer value between `0` and `255`.

  ##### Params

  - **brightness_int** - The brightness for which to return data

  ##### Returns  

  `integer`