:markdown
  # Events

  ## update

  This event will contain one of the events listed below. 
  You can also subscribe to one of the specific events, if that is the information you are interested in.

  ## analogRead(data)

  The analogRead event data contains an integer value that represents the analog read from the sensor.

  ##### Data

  - **data** -  integer Current sensor reading

  ## upperLimit(data)

  Gets triggered if the value read by the sensor is greater or equal to upperLimit (value passed when setting up the sensor).

  ##### Data

  - **data** -  integer Current sensor reading that triggered the notification

  ## lowerLimit(data)

  Gets triggered if the value read by the sensor is less or equal to lowerLimit (value passed when setting up the sensor).

  ##### Data

  - **data** -  integer Current sensor reading that triggered the notification

  ## start 

  Sent when the device has been started and is ready to use.
