---
layout: documentation
page_title_show: true
title: Cylon.JS Example - Beaglebone Led Brightness
page_title: "Example: Beaglebone Led Brightness"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "You can find more versions of this example <a href='https://github.com/hybridgroup/cylon/tree/master/examples' target='blank' class='repository'>here.</a>"
---

:markdown
  # Beaglebone Led Brightness

  First, let's import Cylon:  

      :::coffeescript
      Cylon = require('cylon')

  Now that we have Cylon imported, we can start defining our robot

      :::coffeescript
      # Initialize the robot
      Cylon.robot

  Let's define the connections and devices:

      :::coffeescript
        connection: { name: 'beaglebone', adaptor: 'beaglebone' }
        device: { name: 'led', driver: 'led', pin: 'P9_14' }

  Now that Cylon knows about the necessary hardware we're going to be using, we'll
  tell it what work we want to do:

      :::coffeescript
        work: (my) ->
          # we do our thing here
          brightness = 0
          fade = 5
          every 0.05.seconds(), ->
            brightness += fade
            my.led.brightness(brightness)
            fade = -fade if (brightness is 0) or (brightness is 255)

  Now that our robot knows what work to do, and the work it will be doing that
  hardware with, we can start it:

      :::coffeescript
      .start()

