---
layout: documentation
page_title_show: true
title: Cylon.JS Example - Display Image from Camera
page_title: "Example: Display Image from Camera"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "You can find more versions of this example <a href='https://github.com/hybridgroup/cylon/tree/master/examples' target='blank' class='repository'>here.</a>"
---

:markdown
  # Display Image from Camera

  First, let's import Cylon:       

      :::ruby
      Cylon = require('cylon')

  Now that we have Cylon imported, we can start defining our robot

      :::ruby
      Cylon.robot

  Let's define the connections and devices:

      :::ruby
        connection:
          name: 'opencv', adaptor: 'opencv'

        devices: [
          { name: 'window', driver: 'window' }
          { name: 'camera', driver: 'camera', camera: 1 }
        ]

  Now that Cylon knows about the necessary hardware we're going to be using, we'll
  tell it what work we want to do:

      :::ruby
        work: (my) ->
          my.camera.on('cameraReady', ->
            console.log('THE CAMERA IS READY!')
            my.camera.on('frameReady', (err, im) ->
              my.window.show(im, 5000)
            )
            my.camera.readFrame()
          )

  Now that our robot knows what work to do, and the work it will be doing that
  hardware with, we can start it:

      :::ruby
      .start()

