---
layout: documentation
page_title_show: true
title: Cylon.JS Example - Hello
page_title: "Example: Hello"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "You can find more versions of this example <a href='https://github.com/hybridgroup/cylon/tree/master/examples/hello' target='blank' class='repository'>here.</a>"
---

:markdown
  # Hello

  For this exceedingly simple example, we're going to define a robot that has no
  devices, no connections, and just demonstrates the tools for performing work on
  an interval, and after a timeout.

  Let's start by importing Cylon:

      :::coffeescript
      Cylon = require 'cylon'

  Now we can define our robot:

      :::coffeescript
      Cylon.robot

  For work, it's going to print a message to the console every second, and another
  message after ten seconds have elapsed.

      :::coffeescript
        work: ->
          every 1.second(), ->
            console.log("Hello, human!")

          after 10.seconds(), ->
            console.log "Impressive."

  Simple as can be. Now that we're done, let's start the robot:

      :::coffeescript
      .start()

