---
layout: documentation
page_title_show: true
title: Cylon.JS Example - Keyboard
page_title: "Example: Keyboard"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "You can find more versions of this example <a href='https://github.com/hybridgroup/cylon/tree/master/examples' target='blank' class='repository'>here.</a>"
---

:markdown
  # Keyboard

  First, let's import Cylon:

      :::coffeescript
  		Cylon = require 'cylon'

  		Cylon.robot
  		  device: { name: 'keyboard', driver: 'keyboard' }
  		  connection: { name: 'keyboard', adaptor: 'keyboard' }
  		  work: (my) ->
  		    my.keyboard.on 'a', (key) ->
  		      console.log "A PRESSED!"

  		.start()
