---
layout: documentation
page_title_show: true
title: Cylon.JS Example - MPL115A2
page_title: "Example: MPL115A2"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "You can find more versions of this example <a href='https://github.com/hybridgroup/cylon/tree/master/examples' target='blank' class='repository'>here.</a>"
---

:markdown
  # MPL115A2

  First, let's import Cylon:

      :::coffeescript
  		Cylon = require 'cylon'

  Now that we have Cylon imported, we can start defining our robot

      :::coffeescript
  		Cylon.robot

  Let's define the connections and devices:

      :::coffeescript
  		  connection:
  		    name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'

  		  device:
  		    name: 'mpl115a2', driver: 'mpl115a2'

  Now that Cylon knows about the necessary hardware we're going to be using, we'll
  tell it what work we want to do:

      :::coffeescript
  		  work: (my) ->
  		    my.mpl115a2.on 'start', ->
  		      my.mpl115a2.getTemperature((data) ->
  		        Logger.info "temperature \#{data['temperature']}, pressure \#{data['pressure']}"
  		      )

  Now that our robot knows what work to do, and the work it will be doing that
  hardware with, we can start it:

      :::coffeescript
  		.start()

