---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - Display Image from Camera"
page_title: "Example: Display Image from Camera"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-opencv/tree/master/examples/display_image' target='_blank'>View In Repo</a>"
active_menu_docs: true
breadcrumbs: "<li><a href='#'>Display Image from Camera</a></li>"
---
-content_for :bredcrumbs do
  = partial "/documentation/examples/breadcrumbs"

.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'opencv', adaptor: 'opencv' },
          devices: [
            { name: 'window', driver: 'window' },
            { name: 'camera', driver: 'camera', camera: 0 }
          ],

          work: function(my) {
            my.camera.on('cameraReady', function() {
              console.log('THE CAMERA IS READY!');

              my.camera.on('frameReady', function(err, im) {
                my.window.show(im, 5000);
              });

              my.camera.readFrame();
            });
          }
        }).start();

