:markdown
  # Commands

  ## message() 

  The message for the pebble driver.

  ##### Returns 

  `nil`

  ## message_queue()

  The queue of messages that are being passed in via calls from the Pebble watch app.

  ##### Returns 

  `nil`

  ## last_message()

  The last message in the queue of messages passed in via calls from the Pebble watch app.

  ##### Returns 

  `nil`