:markdown
  # Commands

  ## send_notification

  Used to send a notification to pebble watch

  ## pending_message

  Used from watchbot app to get pending notification message. DIRECT USE IS NOT RECOMMENDED.

  ##### Returns

  `String` with the last message on the queue.

  ## publish_event

  Used from watchbot app to publish "Button" events. DIRECT USE IS NOT RECOMMENDED.

  ##### Returns

  `boolean` operation result
