:markdown
  # Events

  ## stop

  Stop the driver.

  ## start

  Sent when the device has been started and is ready to use.

  ## start_driver

  Starts the driver.

  ## button

  When a pebble button is pushed.

  ## accel

  Receives x,y,z values from pebble accelerometer.

  ## tap

  When a pebble tap event is detected.
