:markdown
  # Commands

  ## authenticate → callback

  Public: This allows you to authenticate the device.

  Returns callback.

  ## subscribe → (streamPath, callback)

  Public: This allows you to subscribe the device.

  Returns (streamPath, callback).

  ## push → (apexPath, method, data)

  Public: This allows you to push data.

  Returns (apexPath, method, data).