:markdown
  # Commands

  ## authenticate(creds)

  This allows you to authenticate the device.

  ##### Params

  - **creds** - params

  ##### Returns 

  `null`

  ## subscribe(streamPath, callback) 

  This allows you to subscribe the device.

  ##### Params

  - **streamPath** - params
  - **callback** - params

  ##### Returns 

  `null`

  ## push(apexPath, method, data)

  This allows you to push data.

  ##### Params

  - **apexPath** - params
  - **method** - params
  - **data** - params

  ##### Returns 

  `null`
