:markdown
  # Events

  ## connect

  Gets triggered when it´s connected.

  ## authenticate

  Gets triggered when it´s authenticated.

  ## subscribe

  Gets triggered when it´s subscribed.

  ## stop

  Stops the driver.

  ## start

  Sent when the device has been started and is ready to use.