:markdown
  # Commands

  ## halt()

  Stop moving.

  ##### Returns 

  `null`

  ## forward()

  Move forward.

  ##### Returns 

  `null`

  ## backward()

  Move backward.

  ##### Returns 

  `null`

  ## right()

  Turn right.

  ##### Returns 

  `null`

  ## left()

  Turn left.

  ##### Returns 

  `null`

  ## happy()

  Make a happy move.

  ##### Returns 

  `null`

  ## unhappy()

  Make an unhappy move :(

  ##### Returns 

  `null`

  ## concerned()

  Act concerned.

  ##### Returns 

  `null`

  ## mad()

  Get mad.

  ##### Returns 

  `null`

  ## push()

  Push things around.

  ##### Returns 

  `null`

  ## led(red, green, blue)

  Sets the RGB LED to a specific color.

  ##### Params

  - **red** - Numeric value for red.
  - **green** - Numeric value for green.
  - **blue** - Numeric value for blue.

  ##### Returns 

  `null`

  ## head(angle)

  Sets head servo to a specific angle.

  ##### Params

  - **angle** - Servo angle.

  ##### Returns 

  `null`

  ## waist(angle)

  Sets waist servo to a specific angle.

  ##### Params

  - **angle** - Servo angle.

  ##### Returns 

  `null`

  ## rightShoulderRoll(angle)

  Sets rightShoulderRoll servo to a specific angle.

  ##### Params

  - **angle** - Servo angle.

  ##### Returns 

  `null`

  ## rightShoulderPitch(angle)

  Sets rightShoulderPitch servo to a specific angle.

  ##### Params

  - **angle** - Servo angle.

  ##### Returns 

  `null`

  ## rightHand(angle)

  Sets rightHand servo to a specific angle.

  ##### Params

  - **angle** - Servo angle.

  ##### Returns 

  `null`

  ## rightFootYaw(angle)

  Sets rightFootYaw servo to a specific angle.

  ##### Params

  - **angle** - Servo angle.

  ##### Returns 

  `null`

  ## rightFootPitch(angle)

  Sets rightFootPitch servo to a specific angle.

  ##### Params

  - **angle** - Servo angle.

  ##### Returns 

  `null`

  ## leftShoulderRoll(angle)

  Sets leftShoulderRoll servo to a specific angle.

  ##### Params

  - **angle** - Servo angle.

  ##### Returns 

  `null`

  ## leftShoulderPitch(angle)

  Sets leftShoulderPitch servo to a specific angle.

  ##### Params

  - **angle** - Servo angle.

  ##### Returns 

  `null`

  ## leftHand(angle)

  Sets leftHand servo to a specific angle.

  ##### Params

  - **angle** - Servo angle.

  ##### Returns 

  `null`

  ## leftFootYaw(angle)

  Sets leftFootYaw servo to a specific angle.

  ##### Params

  - **angle** - Servo angle.

  ##### Returns 

  `null`

  ## leftFootPitch(angle)

  Sets leftFootPitch servo to a specific angle.

  ##### Params

  - **angle** - Servo angle.

  ##### Returns 

  `null`

  ## setServo(servo, angle)

  Sets a servo to a specific angle.

  ##### Params

  - **servo** - Servo number.
  - **angle** - Servo angle.

  ##### Returns 

  `null`
