-if current_page.data.crazyflie_drivers == true
  /// Crazyflie Flight
  %a.device{href:"/documentation/drivers/crazyflie", title: "Crazyflie Flight Control"}
    %img{src: "/images/devices/crazyflie-driver.jpg"} 
  /// Crazyflie Navigation
  %a.device{href:"/documentation/drivers/crazyflie-nav", title: "Crazyflie Navigation Control"}
    %img{src: "/images/devices/crazyflie-nav.jpg"}

-if current_page.data.crazyflie_flight_driver == true
  /// Crazyflie Flight
  %a.device{href:"/documentation/drivers/crazyflie", title: "Crazyflie Flight Control"}
    %img{src: "/images/devices/crazyflie-flight.jpg"} 

-if current_page.data.crazyflie_nav_driver == true
  /// Crazyflie Navigation
  %a.device{href:"/documentation/drivers/crazyflie-nav", title: "Crazyflie Navigation Control"}
    %img{src: "/images/devices/crazyflie-nav.jpg"}