.repository
  margin-right: 10px
.documentation
  .index
    font-size: 20px
    padding: 0 0 0 8px 
    li
      margin-bottom: 8px
  .link
    .description
      color: #808080
      font-size: 14px
      line-height: 21px
      margin: 7px 0 0 0

  .display
    width: 300px
    float: right
    border: 1px solid rgba(39, 125, 172, 0.14)
    margin: 0 0 19px 20px  

  .hardware .devices
    text-align: left

.github-menu
  color: #580a25
  padding: 7px 10px 10px 40px
  background: url(../../images/github-mark.png) top left no-repeat
  &:hover
    color: #ee274a
    text-decoration: underline
      
.clear
  clear: both
.image-size-300
  width: 200px


