.repository
  margin-right: 10px
.documentation
  .index
    padding: 0 0 0 8px 
    li
      margin: 8px 0
  .link
    font-size: 20px
  .description
    color: #808080
    font-size: 14px
    line-height: 21px
    margin: 10px

  .display
    width: 300px
    float: right
    border: 1px solid rgba(88, 10, 37, 0.14)
    margin: 0 0 19px 20px  

  .hardware .devices
    text-align: left

.github-menu
  color: #580a25
  padding: 7px 10px 10px 40px
  background: url(../../images/github-mark.png) top left no-repeat
  &:hover
    color: #ee274a
    text-decoration: underline
      
.clear
  clear: both
.image-size-300
  width: 200px


