.square {
  width: 50px;
  height: 50px;
  border: 1px solid #cccccc;
  float: left;
  margin-right: 10px;
}

.aliceblue {
  background: aliceblue;
}

.antiquewhite {
  background: antiquewhite;
}

.aqua {
  background: cyan;
}

.aquamarine {
  background: aquamarine;
}

.azure {
  background: azure;
}

.beige {
  background: beige;
}

.bisque {
  background: bisque;
}

.black {
  background: black;
}

.blanchedalmond {
  background: blanchedalmond;
}

.blue {
  background: blue;
}

.blueviolet {
  background: blueviolet;
}

.brown {
  background: brown;
}

.burlywood {
  background: burlywood;
}

.cadetblue {
  background: cadetblue;
}

.chartreuse {
  background: chartreuse;
}

.chocolate {
  background: chocolate;
}

.coral {
  background: coral;
}

.cornflowerblue {
  background: cornflowerblue;
}

.cornsilk {
  background: cornsilk;
}

.crimson {
  background: crimson;
}

.cyan {
  background: cyan;
}

.darkblue {
  background: darkblue;
}

.darkcyan {
  background: darkcyan;
}

.darkgoldenrod {
  background: darkgoldenrod;
}

.darkgray {
  background: darkgrey;
}

.darkgreen {
  background: darkgreen;
}

.darkkhaki {
  background: darkkhaki;
}

.darkmagenta {
  background: darkmagenta;
}

.darkolivegreen {
  background: darkolivegreen;
}

.darkorange {
  background: darkorange;
}

.darkorchid {
  background: darkorchid;
}

.darkred {
  background: darkred;
}

.darksalmon {
  background: darksalmon;
}

.darkseagreen {
  background: darkseagreen;
}

.darkslateblue {
  background: darkslateblue;
}

.darkslategray {
  background: darkslategrey;
}

.darkturquoise {
  background: darkturquoise;
}

.darkviolet {
  background: darkviolet;
}

.deeppink {
  background: deeppink;
}

.deepskyblue {
  background: deepskyblue;
}

.dimgray {
  background: dimgrey;
}

.dodgerblue {
  background: dodgerblue;
}

.firebrick {
  background: firebrick;
}

.floralwhite {
  background: floralwhite;
}

.forestgreen {
  background: forestgreen;
}

.fuchsia {
  background: magenta;
}

.gainsboro {
  background: gainsboro;
}

.ghostwhite {
  background: ghostwhite;
}

.gold {
  background: gold;
}

.goldenrod {
  background: goldenrod;
}

.gray {
  background: gray;
}

.green {
  background: green;
}

.greenyellow {
  background: greenyellow;
}

.honeydew {
  background: honeydew;
}

.hotpink {
  background: hotpink;
}

.indianred {
  background: indianred;
}

.indigo {
  background: indigo;
}

.ivory {
  background: ivory;
}

.khaki {
  background: khaki;
}

.lavender {
  background: lavender;
}

.lavenderblush {
  background: lavenderblush;
}

.lawngreen {
  background: lawngreen;
}

.lemonchiffon {
  background: lemonchiffon;
}

.lightblue {
  background: lightblue;
}

.lightcoral {
  background: lightcoral;
}

.lightcyan {
  background: lightcyan;
}

.lightgoldenrodyellow {
  background: lightgoldenrodyellow;
}

.lightgreen {
  background: lightgreen;
}

.lightgrey {
  background: lightgrey;
}

.lightpink {
  background: lightpink;
}

.lightsalmon {
  background: lightsalmon;
}

.lightseagreen {
  background: lightseagreen;
}

.lightskyblue {
  background: lightskyblue;
}

.lightslategray {
  background: lightslategrey;
}

.lightsteelblue {
  background: lightsteelblue;
}

.lightyellow {
  background: lightyellow;
}

.lime {
  background: lime;
}

.limegreen {
  background: limegreen;
}

.linen {
  background: linen;
}

.magenta {
  background: magenta;
}

.maroon {
  background: maroon;
}

.mediumaquamarine {
  background: mediumaquamarine;
}

.mediumblue {
  background: mediumblue;
}

.mediumorchid {
  background: mediumorchid;
}

.mediumpurple {
  background: mediumpurple;
}

.mediumseagreen {
  background: mediumseagreen;
}

.mediumslateblue {
  background: mediumslateblue;
}

.mediumspringgreen {
  background: mediumspringgreen;
}

.mediumturquoise {
  background: mediumturquoise;
}

.mediumvioletred {
  background: mediumvioletred;
}

.midnightblue {
  background: midnightblue;
}

.mintcream {
  background: mintcream;
}

.mistyrose {
  background: mistyrose;
}

.moccasin {
  background: moccasin;
}

.navajowhite {
  background: navajowhite;
}

.navy {
  background: navy;
}

.oldlace {
  background: oldlace;
}

.olive {
  background: olive;
}

.olivedrab {
  background: olivedrab;
}

.orange {
  background: orange;
}

.orangered {
  background: orangered;
}

.orchid {
  background: orchid;
}

.palegoldenrod {
  background: palegoldenrod;
}

.palegreen {
  background: palegreen;
}

.paleturquoise {
  background: paleturquoise;
}

.palevioletred {
  background: palevioletred;
}

.papayawhip {
  background: papayawhip;
}

.peachpuff {
  background: peachpuff;
}

.peru {
  background: peru;
}

.pink {
  background: pink;
}

.plum {
  background: plum;
}

.powderblue {
  background: powderblue;
}

.purple {
  background: purple;
}

.red {
  background: red;
}

.rosybrown {
  background: rosybrown;
}

.royalblue {
  background: royalblue;
}

.saddlebrown {
  background: saddlebrown;
}

.salmon {
  background: salmon;
}

.sandybrown {
  background: sandybrown;
}

.seagreen {
  background: seagreen;
}

.seashell {
  background: seashell;
}

.sienna {
  background: sienna;
}

.silver {
  background: silver;
}

.skyblue {
  background: skyblue;
}

.slateblue {
  background: slateblue;
}

.slategray {
  background: slategrey;
}

.snow {
  background: snow;
}

.springgreen {
  background: springgreen;
}

.steelblue {
  background: steelblue;
}

.tan {
  background: tan;
}

.teal {
  background: teal;
}

.thistle {
  background: thistle;
}

.tomato {
  background: tomato;
}

.turquoise {
  background: turquoise;
}

.violet {
  background: violet;
}

.wheat {
  background: wheat;
}

.white {
  background: white;
}

.whitesmoke {
  background: whitesmoke;
}

.yellow {
  background: yellow;
}

.yellowgreen {
  background: yellowgreen;
}
