.mobile-menu
  %a#menu-docs{:href => "#"} 
    .line 
    .line
    .line

%dl.accordion-docs.hide
  %h5.doc-button
    %a{:href => "/documentation"}  Docs 
  %span
  %dt
    %a{:href => ""} Getting Started
    %a.arrowDown 
      %img{:src => "/images/elements/arrowSide.png", :alt => "Arrow", width: "20px"}/ 
    .clear
  %dd#getting-panel
    %ul
      %li
        %a{:href => "/documentation/getting-started"} Setup your environment
  %dt
    %a{:href => ""} Guides
    %a.arrowDown 
      %img{:src => "/images/elements/arrowSide.png", :alt => "Arrow", width: "20px"}/ 
    .clear
  %dd#guides-panel
    %ul
      %li
        %a{:href => "/documentation/guides/what_is_cylon"}
          About Cylon
      %li
        %a{:href => "/documentation/guides/api"}
          API
      %li
        %a{:href => "/documentation/guides/cli"}
          CLI
      %li
        %a{:href => "/documentation/guides/test-driven-robotics"} Test Driven Robotic
      %li
        %a{:href => "/documentation/guides/helpers"} Helper Methods

  %dt
    %a{:href => ""} Platforms
    %a.arrowDown 
      %img{:src => "/images/elements/arrowSide.png", :alt => "Arrow", width: "20px"}/ 
    .clear
  %dd#platform-panel
    %ul
      %li
        %a{:href => "/documentation/platforms/ardrone"} Ardrone
      %li
        %a{:href => "/documentation/platforms/arduino"} Arduino
      %li
        %a{:href => "/documentation/platforms/beaglebone"} Beaglebone
      %li
        %a{:href => "/documentation/platforms/crazyflie"} Crazyflie
      %li
        %a{:href => "/documentation/platforms/digispark"} Digispark
      %li
        %a{:href => "/documentation/platforms/galileo"} Intel Galileo
      %li
        %a{:href => "/documentation/platforms/joystick"} Joystick
      %li
        %a{:href => "/documentation/platforms/keyboard"} Keyboard
      %li
        %a{:href => "/documentation/platforms/force"} Force
      %li
        %a{:href => "/documentation/platforms/leapmotion"} Leap Motion
      %li
        %a{:href => "/documentation/platforms/neurosky"} Neurosky Mindware
      %li
        %a{:href => "/documentation/platforms/opencv"} OpenCV
      %li
        %a{:href => "/documentation/platforms/pebble"} Pebble
      %li
        %a{:href => "/documentation/platforms/rapiro"} Rapiro
      %li
        %a{:href => "/documentation/platforms/raspberry-pi"} Raspberry Pi
      %li
        %a{:href => "/documentation/platforms/skynet"} Skynet
      %li
        %a{:href => "/documentation/platforms/spark"} Spark
      %li
        %a{:href => "/documentation/platforms/sphero"} Sphero
      %li
        %a{:href => "/documentation/platforms/tessel"} Tessel
  %dt
    %a{:href => ""} Drivers
    %a.arrowDown 
      %img{:src => "/images/elements/arrowSide.png", :alt => "Arrow", width: "20px"}/ 
    .clear
  %dd#driver-panel 
    GPIO
    %ul#gpio
      %li
        %a{:href => "/documentation/drivers/analog-sensor"} Analog Sensor
      %li
        %a{:href => "/documentation/drivers/button"} Button
      %li
        %a{:href => "/documentation/drivers/continuous-servo"} Continuos Servo 
      %li
        %a{:href => "/documentation/drivers/ir-range-finder"} Sharp IR Proximity Sensor
      %li
        %a{:href => "/documentation/drivers/led"} LED 
      %li
        %a{:href => "/documentation/drivers/makey-button"} Makey Button 
      %li
        %a{:href => "/documentation/drivers/maxbotix"} Maxbotix 
      %li
        %a{:href => "/documentation/drivers/motor"} Motor 
      %li
        %a{:href => "/documentation/drivers/servo"} Servo
    I2C
    %ul#i2c
      %li
        %a{:href => "/documentation/drivers/blinkm"} Blinkm
      %li
        %a{:href => "/documentation/drivers/bmp180"} BPM180
      %li
        %a{:href => "/documentation/drivers/hmc6352-compass"} HMC6352 Compass
      %li
        %a{:href => "/documentation/drivers/lcd"} LCD
      %li
        %a{:href => "/documentation/drivers/mpl115a2"} MPL115A2
      %li
        %a{:href => "/documentation/drivers/mpu6050"} MPU6050
    ARDrone
    %ul#ardrone
      %li
        %a{:href => "/documentation/drivers/ardrone"} Ardrone Flight
      %li
        %a{:href => "/documentation/drivers/ardrone-navigation"} Ardrone Navigation
    Crazyflie
    %ul#crazyflie
      %li
        %a{:href => "/documentation/drivers/crazyflie"} Crazyflie Flight
    Force
    %ul#force
      %li
        %a{:href => "/documentation/drivers/force"} Force
    Joystick
    %ul#joystick
      %li
        %a{:href => "/documentation/drivers/dualshock"} Dualshock3 Controller 
      %li
        %a{:href => "/documentation/drivers/xbox360"} XBox360 Controller
    Other Drivers
    %ul#others
      %li
        %a{:href => "/documentation/drivers/keyboard"} Keyboard 
      %li
        %a{:href => "/documentation/drivers/leapmotion"} Leap Motion
      %li
        %a{:href => "/documentation/drivers/neurosky"} Neurosky Mindware
      %li
        %a{:href => "/documentation/drivers/pebble"} Pebble
      %li
        %a{:href => "/documentation/drivers/rapiro"} Rapiro
      %li
        %a{:href => "/documentation/drivers/skynet"} Skynet
      %li
        %a{:href => "/documentation/drivers/sphero"} Sphero
  %dt
    %a{:href => ""} Contribute
    %a.arrowDown 
      %img{:src => "/images/elements/arrowSide.png", :alt => "Arrow", width: "20px"}/ 
    .clear
  %dd#contribute-panel
    %ul
      %li
        %a{:href => "/documentation/contribute/guidelines"} Guidelines
      %li
        %a{:href => "/documentation/contribute/contact-us"} Contact us
  %dt
    %a{:href => ""} Examples
    %a.arrowDown 
      %img{:src => "/images/elements/arrowSide.png", :alt => "Arrow", width: "20px"}/ 
    .clear
  %dd#example-panel 
    %ul
      %li
        %a{:href => "/documentation/examples"} All examples

:javascript
    $(document).ready(function(){
      $("#menu-docs").click(function(){
        $(".accordion-docs").removeClass("hide");
        $(this).addClass("active");
      });
    });
