---
title: Documentation
page_title: Cylon.JS - Documentation
page_subtitle: Made by Humans, for Humans.
layout: documentation
page_title_show: true
active_menu_docs: true
---

.index
  %section
    %a{href: '/documentation/getting-started'}
      .title Getting Started
      .description The best way to get started with Cylon.js.

  %section
    %a{href: '/documentation/platforms'}
      .title Platforms
      .description Cylon.js has a extensible system for connecting to hardware.
  %section
    %a{href: '/documentation/drivers'}
      .title Drivers
      .description Cylon.js supports many different hardware devices.
  %section
    %a{href: '/documentation/guides/what_is_cylon'}
      .title Guides
      .description Visit the Guides for more information about Cylon and it's amazing features
  %section
    %a{href: '/documentation/examples'}
      .title Examples
      .description How to use Cylon.js with a number of hardware configurations.
  %section
    %a{href: 'https://github.com/hybridgroup/cylon/issues'}
      .title Issues?
      .description Please let us know if you find an error or if you can't find what you are looking for.

  