---
title: Documentation
page_title: Documentation
page_subtitle: Made by Humans, for Humans.
layout: documentation
page_title_show: true
---

.index
  %section
    %a{href: '/documentation/getting-started'}
      .title Getting Started
      .description The best way to get started with Cylon.js.
  %section
    %a{href: '/documentation/examples'}
      .title Examples
      .description How to use Cylon.js with a number of hardware configurations.

  %section
    %a{href: '/documentation/platforms'}
      .title Platforms
      .description Cylon.js has a extensible system for connecting to hardware.
  %section
    %a{href: '/documentation/drivers'}
      .title Drivers
      .description Cylon.js supports many different hardware devices.

  %section
    %a{href: '/documentation/helpers'}
      .title Helpers
      .description Cylon.js comes with a number of helpful utility functions.
  %section
    %a{href: '/documentation/api'}
      .title API Server
      .description The Cylon.js WebSockets API Server
  %section
    %a{href: '/documentation/cli'}
      .title CLI
      .description Command Line Interface to make RobotOps easier.
  %section
    %a{href: '/documentation/test-driven'}
      .title Test Driven Robotics
      .description Add support for auto-stubbing of adaptors and drivers.
