---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - Raspberry Pi - Blink"
page_title: "Example: Raspberry Pi - Blink"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-raspi/tree/master/examples/blink' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
-content_for :js_accordeon do
  :javascript
    $("#example-panel").addClass("active-panel");
    $(".accordion-docs dt:nth-child(13) a:nth-child(2) img").addClass("rotate");

:markdown
  # Raspberry Pi - Blink

  For this example, we're going to connect to a Raspberry Pi and make the LED on
  pin 11 blink on a 1-second interval. Before we start, make sure you've got the
  `cylon-raspi` module installed.

  First, let's make sure to load the Cylon module:

      :::javascript
      var Cylon = require('cylon');

  After we've got that done, we can start defining our robot:

      :::javascript
      Cylon.robot({

  We'll have a singular connection to a Raspberry Pi, using the
  previously-mentioned `cylon-raspi` module. We'll also have one device, the LED
  on pin 11.

      :::javascript
        connection: { name: 'raspi', adaptor: 'raspi' },
        device: { name: 'led', driver: 'led', pin: 11 },

  Those are all the components for our robot, so next we'll define the work. All
  we're going to do for this example is tell the LED to toggle every second.

      :::javascript
        work: function(my) {
          every((1).second(), my.led.toggle);
        }

  And with all those pieces in place, we can tell the robot to get started:

      :::javascript
      }).start();

