---
layout: documentation
page_title_show: true
title: Cylon.JS Example - Beaglebone Led Brightness
page_title: "Example: Beaglebone Led Brightness"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "You can find more versions of this example <a href='https://github.com/hybridgroup/cylon/tree/master/examples/bbb_led_brightness' target='blank' class='repository'>here.</a>"
---

.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: {
            name: 'beaglebone',
            adaptor: 'beaglebone'
          },
          device: {
            name: 'led',
            driver: 'led',
            pin: 'P9_14'
          },
          work: function(my) {
            var brightness, fade;
            brightness = 0;
            fade = 5;
            return every(0.05.seconds(), function() {
              brightness += fade;
              my.led.brightness(brightness);
              if ((brightness === 0) || (brightness === 255)) {
                return fade = -fade;
              }
            });
          }
        }).start();
