---
layout: documentation
page_title_show: true
title: Cylon.JS Example - Digispark Blink
page_title: "Example: Digispark Blink"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "You can find more versions of this example <a href='https://github.com/hybridgroup/cylon/tree/master/examples' target='blank' class='repository'>here.</a>"
---

.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: {
            name: 'digispark',
            adaptor: 'digispark'
          },
          device: {
            name: 'led',
            driver: 'led',
            pin: 1
          },
          work: function(my) {
            return every(1..second(), function() {
              return my.led.toggle();
            });
          }
        }).start();
