---
layout: documentation
page_title_show: true
title: Cylon.JS Example - Display Camera
page_title: "Example: Display Camera"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "You can find more versions of this example <a href='https://github.com/hybridgroup/cylon/tree/master/examples' target='blank' class='repository'>here.</a>"
---

.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: {
            name: 'opencv',
            adaptor: 'opencv'
          },
          devices: [
            {
              name: 'window',
              driver: 'window'
            }, {
              name: 'camera',
              driver: 'camera',
              camera: 1,
              haarcascade: "" + __dirname + "/examples/opencv/haarcascade_frontalface_alt.xml"
            }
          ],
          work: function(my) {
            return my.camera.once('cameraReady', function() {
              console.log('The camera is ready!');
              my.camera.on('frameReady', function(err, im) {
                console.log("FRAMEREADY!");
                return my.window.show(im, 40);
              });
              return every(50, my.camera.readFrame);
            });
          }
        }).start();
