---
layout: page
title: Cylon.JS Example - LED Brightness
page_title: "Example: LED Brightness"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "You can find more versions of this example <a href='https://github.com/hybridgroup/cylon/tree/master/examples/led_brightness' target='blank' class='repository'>here.</a>"
---

.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' },
          device: { name: 'led', driver: 'led', pin: 3 },

          work: function(my) {
            var brightness = 0;
            var fade = 5;

            every(0.05.seconds(), function() {
              brightness += fade;
              my.led.brightness(brightness);
              if ((brightness === 0) || (brightness === 255)) {
                fade = -fade;
              }
            });
          }
        }).start();

