---
layout: page
title: Cylon.JS Example - Raspberry Pi - Blink
page_title: "Example: Raspberry Pi - Blink"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "You can find more versions of this example <a href='https://github.com/hybridgroup/cylon/tree/master/examples/raspi_blink' target='blank' class='repository'>here.</a>"
---

.example
  :markdown
        :::javascript
        var Cylon = require('../..');

        Cylon.robot({
          connection: { name: 'raspi', adaptor: 'raspi' },
          device: { name: 'led', driver: 'led', pin: 11 },

          work: function(my) {
            every((1).second(), function() { my.led.toggle(); });
          }
        }).start();

