:markdown
  # Events

  ## update

  This event will contain one of the following events. 
  You can also subscribe to one of the specific events, if that is the information you are interested in.

  ## navdata

  Gets triggered every time interval amount of time passes, returns and lets you access a NavData object.

  ## landing

  Gets triggered when is landing.

  ## landed

  Gets triggered when has landing.

  ## takeoff

  Gets triggered when has takeoff.

  ## hovering

  Gets triggered when is hovering.

  ## flying

  Gets triggered when is flying.

  ## lowBattery

  Gets triggered when have low battery.

  ## batteryChange

  Gets triggered when the battery has changed.

  ## altitudeChange

  Gets triggered when the altitude has changed.

  ## start

  Sent when the device has been started and is ready to use.