:markdown
  # Events

  ## stop

  Sent when the device has been stopped.

  ## setParam(param, value)

  Set the parameters for crazyflie.

  ##### Params

  - **param** - The params which to return data
  - **value** - The value which to return data

  ## start

  Sent when the device has been started and is ready to use.