:markdown
  # Events

  ## r1:press

  Gets triggered every interval amount of time if the `r1` button is pressed.

  ## l1:press

  Gets triggered every interval amount of time if the `l1` button is pressed.

  ## r2:press

  Gets triggered every interval amount of time if the `r2` button is pressed.

  ## l2:press

  Gets triggered every interval amount of time if the `l2` button is pressed.

  ## start:press

  Gets triggered every interval amount of time if the `start` button is pressed.

  ## select:press

  Gets triggered every interval amount of time if the `select` button is pressed.

  ## x:press

  Gets triggered every interval amount of time if the `x` button is pressed.

  ## triangle:press

  Gets triggered every interval amount of time if the `triangle` button is pressed.

  ## circle:press

  Gets triggered every interval amount of time if the `circle` button is pressed.

  ## square:press

  Gets triggered every interval amount of time if the `square` button is pressed.

  ## left:press

  Gets triggered every interval amount of time if the `left` button is pressed.

  ## right:press

  Gets triggered every interval amount of time if the `right` button is pressed.

  ## dpad:left:press

  Gets triggered every interval amount of time if the `dpad:left` button is pressed.

  ## dpad:right:press

  Gets triggered every interval amount of time if the `dpad:right` button is pressed.

  ## dpad:up:press

  Gets triggered every interval amount of time if the `dpad:up` button is pressed.

  ## dpad:down:press

  Gets triggered every interval amount of time if the `dpad:down` button is pressed.

  ## psbutton:press

  Gets triggered every interval amount of time if the `psbutton` button is pressed.

  ## r1:release

  Gets triggered every interval amount of time if the `r1` button is released.

  ## l1:release

  Gets triggered every interval amount of time if the `l1` button is released.

  ## r2:release

  Gets triggered every interval amount of time if the `r2` button is released.

  ## l2:release

  Gets triggered every interval amount of time if the `l2` button is released.

  ## start:release

  Gets triggered every interval amount of time if the `start` button is released.

  ## select:release

  Gets triggered every interval amount of time if the `select` button is released.

  ## x:release

  Gets triggered every interval amount of time if the `x` button is released.

  ## triangle:release

  Gets triggered every interval amount of time if the `triangle` button is released.

  ## circle:release

  Gets triggered every interval amount of time if the `circle` button is released.

  ## square:release

  Gets triggered every interval amount of time if the `square` button is released.

  ## left:release

  Gets triggered every interval amount of time if the `left` button is released.

  ## right:release

  Gets triggered every interval amount of time if the `right` button is released.

  ## dpad:left:release

  Gets triggered every interval amount of time if the `dpad:left` button is released.

  ## dpad:right:release

  Gets triggered every interval amount of time if the `dpad:right` button is released.

  ## dpad:up:release

  Gets triggered every interval amount of time if the `dpad:up` button is released.

  ## dpad:down:release

  Gets triggered every interval amount of time if the `dpad:down` button is released.

  ## psbutton:release

  Gets triggered every interval amount of time if the `psbutton` button is released.

  ## left:move

  Gets triggered every interval amount of time if the `left` button moves.

  ## right:move

  Gets triggered every interval amount of time if the `right` button moves.