:markdown
  # Events

  ## dupbutton:press

  Gets triggered every interval amount of time if the dup button is pressed.

  ## ddown:press

  Gets triggered every interval amount of time if the ddown button is pressed.

  ## dleft:press

  Gets triggered every interval amount of time if the dleft button is pressed.

  ## dright:press

  Gets triggered every interval amount of time if the dright button is pressed.

  ## xboxbutton:press

  Gets triggered every interval amount of time if the xboxbutton button is pressed.

  ## start:press

  Gets triggered every interval amount of time if the start button is pressed.

  ## back:press

  Gets triggered every interval amount of time if the back button is pressed.

  ## leftstick:press

  Gets triggered every interval amount of time if the leftstick button is pressed.

  ## rightstick:press

  Gets triggered every interval amount of time if the rightstick button is pressed.

  ## leftshoulder:press

  Gets triggered every interval amount of time if the leftshoulder button is pressed.

  ## rightshoulder:press

  Gets triggered every interval amount of time if the rightshoulder button is pressed.

  ## a:press

  Gets triggered every interval amount of time if the a button is pressed.

  ## b:press

  Gets triggered every interval amount of time if the b button is pressed.

  ## x:press

  Gets triggered every interval amount of time if the x button is pressed.

  ## y:press

  Gets triggered every interval amount of time if the y button is pressed.

  ## dupbutton:release

  Gets triggered every interval amount of time if the dupbutton button is released.

  ## ddown:release

  Gets triggered every interval amount of time if the ddown button is released.

  ## dleft:release

  Gets triggered every interval amount of time if the dleft button is released.

  ## dright:release

  Gets triggered every interval amount of time if the dright button is released.

  ## xboxbutton:release

  Gets triggered every interval amount of time if the xboxbutton button is released.

  ## start:release

  Gets triggered every interval amount of time if the start button is released.

  ## back:release

  Gets triggered every interval amount of time if the back button is released.

  ## leftstick:release

  Gets triggered every interval amount of time if the leftstick button is released.

  ## rightstick:release

  Gets triggered every interval amount of time if the rightstick button is released.

  ## leftshoulder:release

  Gets triggered every interval amount of time if the leftshoulder button is released.

  ## rightshoulder:release

  Gets triggered every interval amount of time if the rightshoulder button is released.

  ## a:release

  Gets triggered every interval amount of time if the a button is released.

  ## b:release

  Gets triggered every interval amount of time if the b button is released.

  ## x:release

  Gets triggered every interval amount of time if the x button is released.

  ## y:release

  Gets triggered every interval amount of time if the y button is released.

  ## lefttrigger

  Left trigger emits the current amount pressed, from 0-250.

  ## righttrigger

  Right trigger emits the current amount pressed, from 0-250.

  ## left:move

  Gets triggered every left movement.

  ## right:move

  Gets triggered every right movement.

  ## start

  Sent when the device has been started and is ready to use.
