---
layout: documentation
page_title_show: true
title: Cylon.JS Example - Button
page_title: "Example: Button"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-firmata/tree/master/examples/button' target='_blank'>View In Repo</a>"
---

.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' },

          devices: [
            { name: 'led', driver: 'led', pin: 13 },
            { name: 'button', driver: 'button', pin: 2 }
          ],

          work: function(my) {
            my.button.on('push', my.led.toggle);
          }
        }).start();

