---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - ir_sensor_basic_distance"
page_title: "Example: ir_sensor_basic_distance"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-firmata/tree/master/examples/ir_sensor_basic_distance' target='_blank'>View In Repo</a>"
active_menu_docs: true
---

.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' },

          device: {
            name: 'sensor',
            driver: 'ir-range-sensor',
            pin: 0,
            upperLimit: 400,
            lowerLimit: 100,
            model: 'gp2y0a41sk0f'
          },

          work: function(my) {
            every((1).seconds(), function(){
              var range = my.sensor.range();
              console.log('Range ===>', range);
            });
          }

        }).start();

