---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - MPL115A2"
page_title: "Example: MPL115A2"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-firmata/tree/master/examples/mpl115a2' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
-content_for :js_accordeon do
  :javascript
    $("#example-panel").addClass("active-panel");
    $(".accordion-docs dt:nth-child(13) a:nth-child(2) img").addClass("rotate");

.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' },
          device: { name: 'mpl115a2', driver: 'mpl115a2' },

          work: function(my) {
            my.mpl115a2.on('start', function() {
              my.mpl115a2.getTemperature(function(data) {
                var temp = data['temperature'],
                    pressure = data['pressure'];

                Logger.info("temperature " + temp  + " pressure " + pressure);
              });
            });
          }
        }).start();

