---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - attention-meditation"
page_title: "Example: attention-meditation"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-neurosky/tree/master/examples/attention-meditation' target='_blank'>View In Repo</a>"
---

.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection:
            {name: 'neurosky', adaptor: 'neurosky', port: '/dev/rfcomm0'},

          device:
            {name: 'headset', driver: 'neurosky'},

          work: function(my) {
            my.headset.on('attention', function(data) {
              Logger.info("attention:" + data);
            });
            my.headset.on('meditation', function(data) {
              Logger.info("meditation:" + data);
            });
          }
        });

        Cylon.start();

