---
page_title_show: true
title: Blog
page_title: Blog
description: Cylon.js blog entries.
layout: blog
active_menu_blog: true
---

- page_articles.each_with_index do |article, i|
  = partial "article", locals: {article: article}