---
layout: documentation
page_title_show: true
title: Cylon.JS Example - Raspberry Pi - Button
page_title: "Example: Raspberry Pi - Button"
author: The Hybrid Group
description: A Cylon.JS code example
---

.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'raspi', adaptor: 'raspi' },

          devices: [
            { name: 'led', driver: 'led', pin: 11 },
            { name: 'button', driver: 'button', pin: 7 }
          ],

          work: function(my) {
            my.button.on('push', function() { my.led.toggle(); });
          }
        }).start();

