.navbar {
  background-color: #444;
  border: none;
  border-radius: 0px;
}

.navbar-default .navbar-brand {
  color: #efefef;
}

.navbar-default .navbar-brand:hover {
  color: #ccc;
}

.navbar-default .navbar-nav > li > a {
  color: #ccc;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #ccc;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #eee;
}

.robot, .device {
  border: 3px solid #ababab;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px 5px;
}

.robot .robot-type, .device .device-type {
  background: #ababab;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}

.robot b, .device b {
  font-weight: bold;
  line-height: 40px;
}

.robot .controls, .device .controls {
  float: right;
}

.robot dl {
  margin-bottom: 0;
}

.device {
  min-height: 75px;
}

.robot dt, .robot dd, .device dt, .device dd {
  display: inline-block;
}

.robot dd {
  margin-right: 10px;
}

.robot dt i.fa {
  color: #aaa;
}

.details .console code {
  display: block;
  height: 150px;
  width: 98%;
  margin: 0 auto;
  overflow: scroll;
  white-space: pre;
  border: 1px solid #ababab;
  background: #fbfbfb;
  margin-bottom: 8px;
}

.device.details {
  padding: 15px;
}

.device-command {
  display: block;
  clear: both;
  margin: 10px 0;
  padding: 0 15px;
}

.device-command select {
  width: auto;
  min-width: 150px;
  display: inline;
}

.device-command .param-input {
  font-size: 14px;
  margin: 10px 0;
}

.device-command input[type='text'] {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #bbb;
  line-height: 18px;
  padding: 5px;
  margin-right: 10px;
  width: 30%;
}

.device-command input[type='text']:focus {
  outline: none;
}

.device-command select {
  width: 20%;
}

.device-command .command-inputs button {
  width: 63%;
  margin-bottom: 30px;
}

.device-command select {
  background: white;
}

.device-command .param-remove {
  width: 18px;
  height: 18px;
  background-image: url(/images/delete.png);
  display: inline-block;
  cursor: pointer;
  margin-top: 6px;
  margin-right: 5px;
}
