---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - Beaglebone Led Brightness"
page_title: "Example: Beaglebone Led Brightness"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-beaglebone/tree/master/examples/led' target='_blank'>View In Repo</a>"
active_menu_docs: true
---

:markdown
  # Beaglebone Led Brightness

  First, let's import Cylon:

      :::javascript
      var Cylon = require('cylon');

  Now that we have Cylon imported, we can start defining our robot

      :::javascript
      Cylon.robot({

  Let's define the connections and devices:

      :::javascript
        connection: { name: 'beaglebone', adaptor: 'beaglebone' },
        device: { name: 'led', driver: 'led', pin: 'P9_14' },

  Now that Cylon knows about the necessary hardware we're going to be using, we'll
  tell it what work we want to do:

      :::javascript
        work: function(my) {
          var brightness = 0,
              fade = 5;

          every(0.05.seconds(), function() {
            brightness += fade;
            my.led.brightness(brightness);
            if ((brightness === 0) || (brightness === 255)) { fade = -fade; }
          });
        }

  Now that our robot knows what work to do, and the work it will be doing that
  hardware with, we can start it:

      :::javascript
      }).start();

