---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - Spark Core - Functions"
page_title: "Example: Spark Core - Functions"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-spark/tree/master/examples/functions' target='_blank'>View In Repo</a>"
active_menu_docs: true
---

.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: {
            name: 'spark',
            adaptor: 'spark',
            accessToken: '[YOUR_ACCESS_TOKEN]',
            deviceId: '[YOUR_DEVICE_ID]'
          },

          work: function(my) {
            every((5).seconds(), function() {
              my.spark.command("fortyTwo", [], function(err, data) {
                if (err) {
                  console.log("An error occured!", err);
                } else {
                  console.log("The magic number is:", data);
                }
              });
            });
          }
        }).start();

