---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - Spark Core - Variables"
page_title: "Example: Spark Core - Variables"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon-spark/tree/master/examples/variables' target='_blank'>View In Repo</a>"
active_menu_docs: true
breadcrumbs: "<li><a href='#'>Spark Core - Variables</a></li>"
---
-content_for :bredcrumbs do
  = partial "/documentation/examples/breadcrumbs"

.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: {
            name: 'spark',
            adaptor: 'spark',
            accessToken: '[YOUR_ACCESS_TOKEN]',
            deviceId: '[YOUR_DEVICE_ID]'
          },

          work: function(my) {
            every((5).seconds(), function() {
              my.spark.variable("randomNumber", function(err, data) {
                if (err) {
                  console.log("An error occured!", err);
                } else {
                  console.log("The random number is:", data);
                }
              });
            });
          }
        }).start();

