---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - Crazyflie"
page_title: "Example: Crazyflie"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon/tree/master/examples/crazyflie' target='_blank'>View In Repo</a>"
active_menu_docs: true
---

.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: {
            name: 'crazyflie',
            adaptor: 'crazyflie',
            port: "radio://1/10/250KPS"
          },

          device: {
            name: 'drone',
            driver: 'crazyflie'
          },

          work: function(my) {
            my.drone.on('start', function() {
              my.drone.takeoff();
              after(10..seconds(), function() { my.drone.land(); });
              after(15..seconds(), function() { my.drone.stop(); });
            });
          }
        }).start();

