---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - Master"
page_title: "Example: Master"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon/tree/master/examples/master' target='_blank'>View In Repo</a>"
active_menu_docs: true
---
-content_for :js_accordeon do
  :javascript
    $("#example-panel").addClass("active-panel");
    $(".accordion-docs dt:nth-child(13) a:nth-child(2) img").addClass("rotate");

.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        var bots = [ 'Huey', 'Dewey', 'Louie' ];

        var MinionBot = (function() {
          function MinionBot() {}

          MinionBot.prototype.work = function(my) {
            console.log("Robot " + my.name + " is now working!");
          };

          return MinionBot;

        })();

        for (var i = 0; i < bots.length; i++) {
          var robot = new MinionBot;
          robot.name = bots[i];
          Cylon.robot(robot);
        }

        Cylon.start();

