---
layout: documentation
page_title_show: true
title: "Cylon.JS Example - Robot Commands"
page_title: "Example: Robot Commands"
author: The Hybrid Group
description: A Cylon.JS code example
page_subtitle: "<a href='https://github.com/hybridgroup/cylon/tree/master/examples/robot_commands' target='_blank'>View In Repo</a>"
active_menu_docs: true
---

.example
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.api({ host: '0.0.0.0', port: '8080' });

        var MyRobot = (function() {
          function MyRobot() {}

          MyRobot.prototype.commands = ["relax"];

          MyRobot.prototype.relax = function() {
            return "" + this.name + " says relax";
          };

          MyRobot.prototype.work = function(me) {
            every((1).seconds(), function() {
              console.log(me.name);
            });
          };

          return MyRobot;

        })();

        var robot = new MyRobot;
        robot.name = "frankie";

        Cylon.robot(robot);

        Cylon.start();

