---
hero: true
social: true
title: CylonJS
author: The Hybrid Group
description: Artoo is a micro-framework for robotics. It provides a simple, but powerful DSL (domain-specific language) for robots and physical computing.
layout: home
---

:markdown
  ## Can't wait?

  We're currently working really hard to get everything ready for you to use, but it will take some time.

  Want to be part of the revolution?

  - Join us on IRC:   `#cylon @ irc.freenode.net`
  - Join us on our [Trello Board](https://trello.com/b/l1aEuqMU/cylon).

