---
hero: true
social: true
title: Artoo
author: The Hybrid Group
description: Artoo is a micro-framework for robotics. It provides a simple, but powerful DSL (domain-specific language) for robots and physical computing.
layout: home
---

:markdown
  ## Excited?

  We're currently working really hard to get everything ready for you to use, want to help?

  Check out Trello Board!

