---
page_title_show: true
title: Cylon.js Videos
page_title: Videos
page_subtitle: Cylon.js around the world.
layout: page
active_menu_videos: true
---

%section.videos
  %p During the past few months we've been traveling around the world to many different conferences to talk about Cylon.js, here we have just some of the videos, soon we'll add more!
  .video
    %h2 Scotland JS 2014
    %h3 Cylon.js: The JavaScript Evolution Of Open Source Robotics
    %iframe{:src => "//player.vimeo.com/video/96477741?title=0&amp;byline=0&amp;portrait=0", :frameborder => "0", :allowfullscreen => "true"}
  .video
    %h2 MakerFaire 2014
    %h3 Cylon.js: The JavaScript Evolution Of Open Source Robotics
    %iframe{:src => "//www.youtube.com/embed/AJ1VH4AqqWc?rel=0", :frameborder => "0", :allowfullscreen => "true"}

